In [3]:
import pandas as pd

In [4]:
flights_cleaned = pd.read_csv("raw_data/flight_info_2018_cleaned.csv")

flights_cleaned.head()

,Unnamed: 0,ARR_DELAY,ARR_DELAY_NEW,ARR_TIME,DAY_OF_WEEK,DEP_DELAY,DEP_DELAY_NEW,DEP_TIME,DEST,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_NM,FL_DATE,OP_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM
0,0,-1.0,0.0,417.0,1,-1.0,0.0,54.0,DEN,11292,"Denver, CO",Colorado,4/2/2018,408,F9,LAX,12892,"Los Angeles, CA",California
1,1,-32.0,0.0,933.0,1,-7.0,0.0,623.0,ORD,13930,"Chicago, IL",Illinois,4/2/2018,1286,F9,DEN,11292,"Denver, CO",Colorado
2,2,5.0,5.0,824.0,1,22.0,22.0,622.0,LAS,12889,"Las Vegas, NV",Nevada,4/2/2018,1679,F9,MCO,13204,"Orlando, FL",Florida
3,3,7.0,7.0,1436.0,1,2.0,2.0,912.0,MEM,13244,"Memphis, TN",Tennessee,4/2/2018,1990,F9,LAS,12889,"Las Vegas, NV",Nevada
4,4,212.0,212.0,2029.0,1,213.0,213.0,1852.0,LAS,12889,"Las Vegas, NV",Nevada,4/2/2018,1999,F9,MEM,13244,"Memphis, TN",Tennessee

In [5]:
df = flights_cleaned.drop(['Unnamed: 0'], axis=1)
df.head()

len(df)

7124914

In [6]:
tenPercent = df.sample(frac = 0.10)

len(tenPercent)

# tenPercent.to_csv("Flights10percent.csv")

712491

In [10]:
origin_airports = tenPercent["ORIGIN"].unique()

In [11]:
len(origin_airports)

357

In [12]:
airports = pd.DataFrame(origin_airports)

aiports

In [28]:
org_air = pd.read_csv("ORIGINairports.csv")
df2 = pd.read_csv("Flights10percent.csv")

org_air

        Airport Id  ORIGIN_AIRPORT_CODE  ORIGIN_LAT  ORIGIN_LONG
0           2566086                 BTI   70.134003  -143.582001
1           5985996                  \N   70.613403  -159.860001
2           1503516                 LUR   68.875099  -166.110001
3           4372872                 PIZ   69.732903  -163.005005
4           1302164                 ITO   19.721399  -155.048004
5           7117348                 ORL   28.545500   -81.332901
6           4037005                 BTT   66.913902  -151.529007
7           6749241                  \N   64.301201  -149.119995
8             90167                 UTO   65.992798  -153.703995
9           7027273                 FYU   66.571503  -145.250000
10          6672654                 SVW   61.097401  -155.574005
11          3631580                 FRN   61.266399  -149.653000
12          1456462                 TLJ   62.894402  -155.977005
13          2873424                 CZF   61.780300  -166.039001
14          6610000                 BED   42.470001   -71.289001
15          4965567                 SNP   57.167301  -170.220001
16           657456                 EHM   58.646400  -162.063003
17          3011434                 STG   56.578300  -169.662003
18          4290374                 ILI   59.754398  -154.910996
19            50669                 PTU   59.011398  -161.820007
20           723390                 BMX   59.361198  -155.259003
21           170975                 OSC   44.451599   -83.394096
22          1313810                 OAR   36.681900  -121.762001
23           999908                 MHR   38.553902  -121.297997
24          3135023                 BYS   35.280499  -116.629997
25          5749544                  \N   34.296200  -116.162003
26          5028552                 FSM   35.336601   -94.367401
27          4907834                 MRI   61.213501  -149.843994
28          1288376                 GNT   35.167301  -107.902000
29          6648547                 PNC   36.731998   -97.099800
...             ...                 ...         ...          ...
712461       226980                 NaN         NaN          NaN
712462      2861257                 NaN         NaN          NaN
712463      2237650                 NaN         NaN          NaN
712464      6511664                 NaN         NaN          NaN
712465      1563526                 NaN         NaN          NaN
712466      1109866                 NaN         NaN          NaN
712467      6003746                 NaN         NaN          NaN
712468      4715724                 NaN         NaN          NaN
712469      1193562                 NaN         NaN          NaN
712470      4884567                 NaN         NaN          NaN
712471      5085543                 NaN         NaN          NaN
712472      3881542                 NaN         NaN          NaN
712473      3584669                 NaN         NaN          NaN
712474      4059424                 NaN         NaN          NaN
712475      2645941                 NaN         NaN          NaN
712476      1407309                 NaN         NaN          NaN
712477      6687389                 NaN         NaN          NaN
712478       563284                 NaN         NaN          NaN
712479      4607568                 NaN         NaN          NaN
712480      4084635                 NaN         NaN          NaN
712481      2989206                 NaN         NaN          NaN
712482      2202939                 NaN         NaN          NaN
712483      2786936                 NaN         NaN          NaN
712484      2240578                 NaN         NaN          NaN
712485      1656384                 NaN         NaN          NaN
712486      1089959                 NaN         NaN          NaN
712487      3935458                 NaN         NaN          NaN
712488      3591562                 NaN         NaN          NaN
712489      2122689                 NaN         NaN          NaN
712490       135041                 NaN         NaN          NaN

[712491 rows x 4 columns]

In [29]:
result = pd.merge(df2, org_air, on ='ORIGIN_AIRPORT_CODE')



result

,Unnamed: 0,ARR_DELAY,ARR_DELAY_NEW,ARR_TIME,DAY_OF_WEEK,Latitude,DEP_DELAY_NEW,DEP_TIME,DEST_AIRPORT_CODE,DEST_AIRPORT_ID,...,FL_DATE,OP_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_CODE,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,Airport Id,ORIGIN_LAT,ORIGIN_LONG
0,2566086,-11,0,1312,3,-4,0,1212,MIA,13303,...,1/10/2018,2292,AA,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
1,2394053,-15,0,1426,1,-4,0,1155,JFK,12478,...,1/22/2018,407,DL,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
2,6647146,18,18,1233,2,20,20,949,EWR,11618,...,2018-08-14,574,B6,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
3,2465608,-3,0,2052,2,-5,0,1830,PIT,14122,...,1/30/2018,5520,WN,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
4,1991725,-11,0,1434,3,-2,0,1308,ATL,10397,...,2/14/2018,253,WN,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
5,563693,-14,0,1424,7,-3,0,1132,BOS,10721,...,4/22/2018,1566,DL,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
6,1260081,-11,0,1844,1,1,1,1646,DCA,11278,...,2018-12-24,488,WN,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
7,1872311,-10,0,1548,1,-4,0,1407,RDU,14492,...,2/26/2018,1461,DL,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
8,3256643,-2,0,1913,5,-1,0,1729,MCI,13198,...,2018-07-27,792,WN,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
9,6542987,-12,0,1830,1,0,0,1657,ATL,10397,...,2018-08-13,2047,DL,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
10,6350359,8,8,853,5,-3,0,632,IND,12339,...,2018-10-05,2037,WN,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
11,2583206,-21,0,1655,3,-8,0,1532,ATL,10397,...,1/31/2018,2372,DL,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
12,842356,252,252,2017,3,261,261,2001,BHM,10599,...,2018-08-01,652,WN,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
13,890703,-15,0,1110,4,-5,0,1025,MEM,13244,...,2018-08-16,1314,WN,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
14,4106476,-13,0,946,7,-1,0,714,JFK,12478,...,6/10/2018,2464,DL,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
15,5481974,-5,0,1345,3,-2,0,1158,MKE,13342,...,2018-11-28,2095,F9,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
16,6500908,-23,0,1512,1,-5,0,1215,BOS,10721,...,2018-08-20,118,DL,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
17,6293026,1,1,941,5,-1,0,748,DFW,11298,...,2018-10-26,1369,AA,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
18,2148125,-1,0,1424,5,3,3,1248,RDU,14492,...,2/2/2018,5708,WN,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
19,4567670,8,8,1348,6,9,9,1004,SJU,14843,...,3/10/2018,2450,WN,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
20,2764998,-10,0,850,6,-1,0,639,IND,12339,...,1/27/2018,2506,WN,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
21,6627673,-5,0,1512,2,2,2,1307,IAD,12264,...,2018-08-14,325,UA,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
22,2999502,51,51,2130,2,68,68,2037,MIA,13303,...,2018-07-24,2624,AA,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
23,4262408,13,13,1738,2,-5,0,1550,IAH,12266,...,3/6/2018,1115,UA,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
24,2875314,4,4,2129,1,7,7,1952,DEN,11292,...,2018-07-16,536,WN,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
25,6308601,6,6,905,5,-3,0,717,PHX,14107,...,2018-10-26,1672,AA,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
26,3642835,-22,0,1748,2,-2,0,1610,DEN,11292,...,6/5/2018,271,UA,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
27,3945186,13,13,1401,6,-10,0,1036,BOS,10721,...,6/30/2018,892,B6,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
28,977965,103,103,1949,5,106,106,1756,ORD,13930,...,2018-08-31,651,UA,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
29,6849276,-19,0,1659,4,-11,0,1402,BOS,10721,...,2018-08-16,992,B6,TPA,15304,"Tampa, FL",Florida,335748,27.975500,-82.533203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665380,960242,-25,0,1742,4,-20,0,1700,BRW,10754,...,2018-08-09,50,AS,SCC,14709,"Deadhorse, AK",Alaska,1150454,70.194702,-148.464996
665381,2952771,-17,0,1750,1,-12,0,1708,BRW,10754,...,2018-07-16,50,AS,SCC,14709,"Deadhorse, AK",Alaska,1150454,70.194702,-148.464996
665382,6972396,-11,0,1044,5,-10,0,956,BRW,10754,...,2018-08-10,55,AS,SCC,14709,"Deadhorse, AK",Alaska,1150454,70.194702,-148.464996
665383,5666412,-14,0,1633,5,-10,0,1451,ANC,10299,...,2018-11-16,182,AS,SCC,14709,"Deadhorse, AK",Alaska,1150454,70.194702,-148.464996
665384,554568,11,11,1047,7,6,6,956,BRW,10754,...,4/1/2018,55,AS,SCC,14709,"Deadhorse, AK",Alaska,1150454,70.194702,-148.464996
665385,3479499,-17,0,1038,7,-10,0,956,BRW,10754,...,2018-07-15,55,AS,SCC,14709,"Deadhorse, AK",Alaska,1150454,70.194702,-148.464996
665386,960248,-25,0,1030,4,-18,0,948,BRW,10754,...,2018-08-09,55,AS,SCC,14709,"Deadhorse, AK",Alaska,1150454,70.194702,-148.464996
665387,3222655,-19,0,1748,4,-17,0,1703,BRW,10754,...,2018-07-26,50,AS,SCC,14709,"Deadhorse, AK",Alaska,1150454,70.194702,-148.464996
665388,2413441,-36,0,1737,2,-35,0,1649,BRW,10754,...,1/23/2018,50,AS,SCC,14709,"Deadhorse, AK",Alaska,1150454,70.194702,-148.464996
665389,3584147,-21,0,1747,2,-12,0,1707,BRW,10754,...,6/5/2018,50,AS,SCC,14709,"Deadhorse, AK",Alaska,1150454,70.194702,-148.464996
665390,4767438,-18,0,1759,1,-13,0,1717,BRW,10754,...,5/7/2018,50,AS,SCC,14709,"Deadhorse, AK",Alaska,1150454,70.194702,-148.464996
665391,4596621,-1,0,1049,6,18,18,1008,BRW,10754,...,3/24/2018,55,AS,SCC,14709,"Deadhorse, AK",Alaska,1150454,70.194702,-148.464996
665392,3835721,-16,0,1749,5,-15,0,1704,BRW,10754,...,6/1/2018,50,AS,SCC,14709,"Deadhorse, AK",Alaska,1150454,70.194702,-148.464996
665393,6151814,-5,0,1055,3,-13,0,953,BRW,10754,...,2018-10-24,55,AS,SCC,14709,"Deadhorse, AK",Alaska,1150454,70.194702,-148.464996
665394,3939153,-18,0,1037,6,-17,0,949,BRW,10754,...,6/30/2018,55,AS,SCC,14709,"Deadhorse, AK",Alaska,1150454,70.194702,-148.464996
665395,3582736,-9,0,1833,2,-11,0,1733,ANC,10299,...,6/12/2018,163,AS,AKN,10245,"King Salmon, AK",Alaska,5148790,58.676800,-156.649002
665396,3748513,-17,0,1825,4,-17,0,1727,ANC,10299,...,6/28/2018,163,AS,AKN,10245,"King Salmon, AK",Alaska,5148790,58.676800,-156.649002
665397,3478051,-18,0,1824,7,-15,0,1729,ANC,10299,...,2018-07-01,163,AS,AKN,10245,"King Salmon, AK",Alaska,5148790,58.676800,-156.649002
665398,1275665,25,25,1409,1,15,15,1230,PHL,14100,...,2018-12-24,5653,OH,ART,10361,"Watertown, NY",New York,3165685,43.991901,-76.021698
665399,4801169,-9,0,810,2,-1,0,714,CLT,11057,...,5/1/2018,5272,OH,FLO,11699,"Florence, SC",South Carolina,3939415,34.185398,-79.723900
665400,112825,-16,0,803,2,5,5,720,CLT,11057,...,4/24/2018,5272,OH,FLO,11699,"Florence, SC",South Carolina,3939415,34.185398,-79.723900
665401,14425,-13,0,637,1,0,0,550,CLT,11057,...,4/16/2018,5656,OH,FLO,11699,"Florence, SC",South Carolina,3939415,34.185398,-79.723900
665402,271700,-9,0,1331,4,10,10,1241,CLT,11057,...,4/12/2018,5571,OH,FLO,11699,"Florence, SC",South Carolina,3939415,34.185398,-79.723900
665403,354732,3,3,822,5,-7,0,708,CLT,11057,...,4/27/2018,5272,OH,FLO,11699,"Florence, SC",South Carolina,3939415,34.185398,-79.723900
665404,353893,45,45,1425,5,73,73,1344,CLT,11057,...,4/6/2018,5571,OH,FLO,11699,"Florence, SC",South Carolina,3939415,34.185398,-79.723900
665405,112015,-15,0,1207,2,-2,0,1113,CLT,11057,...,4/3/2018,5571,OH,FLO,11699,"Florence, SC",South Carolina,3939415,34.185398,-79.723900
665406,112497,1,1,651,2,-2,0,548,CLT,11057,...,4/17/2018,5656,OH,FLO,11699,"Florence, SC",South Carolina,3939415,34.185398,-79.723900
665407,272193,-10,0,640,4,-5,0,545,CLT,11057,...,4/5/2018,5656,OH,FLO,11699,"Florence, SC",South Carolina,3939415,34.185398,-79.723900
665408,4550727,12,12,1527,6,0,0,1422,CLT,11057,...,3/24/2018,5422,OH,FLO,11699,"Florence, SC",South Carolina,3939415,34.185398,-79.723900
665409,445005,-21,0,629,6,-3,0,547,CLT,11057,...,4/21/2018,5656,OH,FLO,11699,"Florence, SC",South Carolina,3939415,34.185398,-79.723900

In [35]:
DEST = pd.read_csv("destairports.csv")

DEST.head()

   Dest_Airport_Id  DEST_AIRPORT_CODE   DEST_LAT   DEST_LONG
0           2566086               BTI  70.134003 -143.582001
1           5985996                \N  70.613403 -159.860001
2           1503516               LUR  68.875099 -166.110001
3           4372872               PIZ  69.732903 -163.005005
4           1302164               ITO  19.721399 -155.048004

In [36]:
merged = pd.merge(DEST, result, on ='DEST_AIRPORT_CODE')

merged.head()

,Dest_Airport_Id,DEST_AIRPORT_CODE,DEST_LAT,DEST_LONG,Unnamed: 0,ARR_DELAY,ARR_DELAY_NEW,ARR_TIME,DAY_OF_WEEK,Latitude,...,FL_DATE,OP_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_CODE,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,Airport Id,ORIGIN_LAT,ORIGIN_LONG
0,1302164,ITO,19.721399,-155.048004,3121452,-7,0,1931,3,0,...,2018-07-25,1004,UA,LAX,12892,"Los Angeles, CA",California,3398223,33.942501,-118.407997
1,1302164,ITO,19.721399,-155.048004,6412521,-9,0,2027,6,15,...,2018-10-27,1004,UA,LAX,12892,"Los Angeles, CA",California,3398223,33.942501,-118.407997
2,1302164,ITO,19.721399,-155.048004,435172,-11,0,1934,6,-5,...,4/14/2018,1004,UA,LAX,12892,"Los Angeles, CA",California,3398223,33.942501,-118.407997
3,1302164,ITO,19.721399,-155.048004,5692916,-31,0,2017,5,-14,...,2018-11-30,1004,UA,LAX,12892,"Los Angeles, CA",California,3398223,33.942501,-118.407997
4,1302164,ITO,19.721399,-155.048004,3369400,-12,0,1938,6,-5,...,2018-07-21,1004,UA,LAX,12892,"Los Angeles, CA",California,3398223,33.942501,-118.407997

In [37]:
df = merged.drop(['Unnamed: 0', ], axis=1)
df.head()

,Dest_Airport_Id,DEST_AIRPORT_CODE,DEST_LAT,DEST_LONG,ARR_DELAY,ARR_DELAY_NEW,ARR_TIME,DAY_OF_WEEK,Latitude,DEP_DELAY_NEW,...,FL_DATE,OP_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_CODE,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,Airport Id,ORIGIN_LAT,ORIGIN_LONG
0,1302164,ITO,19.721399,-155.048004,-7,0,1931,3,0,0,...,2018-07-25,1004,UA,LAX,12892,"Los Angeles, CA",California,3398223,33.942501,-118.407997
1,1302164,ITO,19.721399,-155.048004,-9,0,2027,6,15,15,...,2018-10-27,1004,UA,LAX,12892,"Los Angeles, CA",California,3398223,33.942501,-118.407997
2,1302164,ITO,19.721399,-155.048004,-11,0,1934,6,-5,0,...,4/14/2018,1004,UA,LAX,12892,"Los Angeles, CA",California,3398223,33.942501,-118.407997
3,1302164,ITO,19.721399,-155.048004,-31,0,2017,5,-14,0,...,2018-11-30,1004,UA,LAX,12892,"Los Angeles, CA",California,3398223,33.942501,-118.407997
4,1302164,ITO,19.721399,-155.048004,-12,0,1938,6,-5,0,...,2018-07-21,1004,UA,LAX,12892,"Los Angeles, CA",California,3398223,33.942501,-118.407997

In [27]:
new = [ 6 , 5,  7,  8,  9, 10, 11, 12, 15, 16, 17,  1,  2,  4,  0,  3, 13, 14]

# old1 = old.to_DataFrame

new1 = pd.DataFrame(new) 


new1 = new1.values.reshape(18, 1)

new1

array([[ 6],
       [ 5],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12],
       [15],
       [16],
       [17],
       [ 1],
       [ 2],
       [ 4],
       [ 0],
       [ 3],
       [13],
       [14]], dtype=int64)

In [38]:
df.to_csv("Flight_data_coords.csv")

In [33]:
old = ['F9', 'EV', 'G4', 'HA', 'MQ', 'NK', 'OH' ,'OO', 'WN', 'YV', 'YX' ,'AA', 'AS' ,'DL',
 '9E', 'B6', 'UA', 'VX']

old1 = pd.DataFrame(old) 

old1 = old1.values.reshape(18, 1)

old1

array([['F9'],
       ['EV'],
       ['G4'],
       ['HA'],
       ['MQ'],
       ['NK'],
       ['OH'],
       ['OO'],
       ['WN'],
       ['YV'],
       ['YX'],
       ['AA'],
       ['AS'],
       ['DL'],
       ['9E'],
       ['B6'],
       ['UA'],
       ['VX']], dtype=object)