In [5]:
import pandas as pd

In [27]:
new = [ 6 , 5,  7,  8,  9, 10, 11, 12, 15, 16, 17,  1,  2,  4,  0,  3, 13, 14]

# old1 = old.to_DataFrame

new1 = pd.DataFrame(new) 


new1 = new1.values.reshape(18, 1)

new1

array([[ 6],
       [ 5],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12],
       [15],
       [16],
       [17],
       [ 1],
       [ 2],
       [ 4],
       [ 0],
       [ 3],
       [13],
       [14]], dtype=int64)

In [33]:
old = ['F9', 'EV', 'G4', 'HA', 'MQ', 'NK', 'OH' ,'OO', 'WN', 'YV', 'YX' ,'AA', 'AS' ,'DL',
 '9E', 'B6', 'UA', 'VX']

old1 = pd.DataFrame(old) 

old1 = old1.values.reshape(18, 1)

old1

array([['F9'],
       ['EV'],
       ['G4'],
       ['HA'],
       ['MQ'],
       ['NK'],
       ['OH'],
       ['OO'],
       ['WN'],
       ['YV'],
       ['YX'],
       ['AA'],
       ['AS'],
       ['DL'],
       ['9E'],
       ['B6'],
       ['UA'],
       ['VX']], dtype=object)

In [34]:
# pd.concat [[new, old]]




merged = pd.DataFrame({"Old names": [old1],
                              "New names": [new1]})


merged

,Old names,New names
0,"[[F9], [EV], [G4], [HA], [MQ], [NK], [OH], [OO...","[[6], [5], [7], [8], [9], [10], [11], [12], [1..."

In [37]:


merged.loc[len(merged)] = new

ValueError: cannot set a row with mismatched columns