In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import glob

In [3]:
# Merging csv files (without repeating header)
interesting_files = glob.glob("raw_data/*.csv") 
df = pd.concat((pd.read_csv(f, header = 0) for f in interesting_files))
df

C:\Users\Loba\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,ARR_DELAY,ARR_DELAY_NEW,ARR_TIME,CARRIER_DELAY,DAY_OF_WEEK,DEP_DELAY,DEP_DELAY_NEW,DEP_TIME,DEST,DEST_AIRPORT_ID,...,NAS_DELAY,OP_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,SECURITY_DELAY,Unnamed: 23,WEATHER_DELAY
0,-1.0,0.0,417.0,NaN,1,-1.0,0.0,54.0,DEN,11292,...,NaN,408,F9,LAX,12892,"Los Angeles, CA",California,NaN,NaN,NaN
1,-32.0,0.0,933.0,NaN,1,-7.0,0.0,623.0,ORD,13930,...,NaN,1286,F9,DEN,11292,"Denver, CO",Colorado,NaN,NaN,NaN
2,5.0,5.0,824.0,NaN,1,22.0,22.0,622.0,LAS,12889,...,NaN,1679,F9,MCO,13204,"Orlando, FL",Florida,NaN,NaN,NaN
3,7.0,7.0,1436.0,NaN,1,2.0,2.0,912.0,MEM,13244,...,NaN,1990,F9,LAS,12889,"Las Vegas, NV",Nevada,NaN,NaN,NaN
4,212.0,212.0,2029.0,210.0,1,213.0,213.0,1852.0,LAS,12889,...,0.0,1999,F9,MEM,13244,"Memphis, TN",Tennessee,0.0,NaN,0.0
5,89.0,89.0,959.0,0.0,1,-10.0,0.0,601.0,LGA,12953,...,89.0,1462,F9,ATL,10397,"Atlanta, GA",Georgia,0.0,NaN,0.0
6,125.0,125.0,1334.0,0.0,1,91.0,91.0,1050.0,CVG,11193,...,119.0,649,F9,LGA,12953,"New York, NY",New York,0.0,NaN,6.0
7,116.0,116.0,1527.0,11.0,1,130.0,130.0,1430.0,DEN,11292,...,99.0,649,F9,CVG,11193,"Cincinnati, OH",Kentucky,0.0,NaN,0.0
8,-22.0,0.0,34.0,NaN,1,-6.0,0.0,1953.0,ATL,10397,...,NaN,426,F9,DEN,11292,"Denver, CO",Colorado,NaN,NaN,NaN
9,-1.0,0.0,1009.0,NaN,1,-1.0,0.0,629.0,TPA,15304,...,NaN,1206,F9,MKE,13342,"Milwaukee, WI",Wisconsin,NaN,NaN,NaN
10,-4.0,0.0,1336.0,NaN,1,-4.0,0.0,1056.0,BUF,10792,...,NaN,1228,F9,TPA,15304,"Tampa, FL",Florida,NaN,NaN,NaN
11,-2.0,0.0,1718.0,NaN,1,-1.0,0.0,1429.0,TPA,15304,...,NaN,1231,F9,BUF,10792,"Buffalo, NY",New York,NaN,NaN,NaN
12,10.0,10.0,2012.0,NaN,1,1.0,1.0,1811.0,MKE,13342,...,NaN,1209,F9,TPA,15304,"Tampa, FL",Florida,NaN,NaN,NaN
13,15.0,15.0,2314.0,8.0,1,8.0,8.0,2115.0,LAS,12889,...,7.0,1099,F9,MKE,13342,"Milwaukee, WI",Wisconsin,0.0,NaN,0.0
14,-10.0,0.0,1409.0,NaN,1,-2.0,0.0,939.0,CVG,11193,...,NaN,1158,F9,DEN,11292,"Denver, CO",Colorado,NaN,NaN,NaN
15,124.0,124.0,1913.0,0.0,1,128.0,128.0,1718.0,LGA,12953,...,124.0,1158,F9,CVG,11193,"Cincinnati, OH",Kentucky,0.0,NaN,0.0
16,78.0,78.0,2211.0,0.0,1,113.0,113.0,1952.0,ATL,10397,...,0.0,1465,F9,LGA,12953,"New York, NY",New York,0.0,NaN,0.0
17,-17.0,0.0,814.0,NaN,1,-7.0,0.0,623.0,DEN,11292,...,NaN,295,F9,TPA,15304,"Tampa, FL",Florida,NaN,NaN,NaN
18,-23.0,0.0,1142.0,NaN,1,-8.0,0.0,1039.0,PSP,14262,...,NaN,429,F9,DEN,11292,"Denver, CO",Colorado,NaN,NaN,NaN
19,198.0,198.0,1922.0,198.0,1,219.0,219.0,1634.0,DEN,11292,...,0.0,398,F9,PSP,14262,"Palm Springs, CA",California,0.0,NaN,0.0
20,-28.0,0.0,1035.0,NaN,1,-1.0,0.0,644.0,MIA,13303,...,NaN,1508,F9,MKE,13342,"Milwaukee, WI",Wisconsin,NaN,NaN,NaN
21,-33.0,0.0,1442.0,NaN,1,-14.0,0.0,1144.0,DTW,11433,...,NaN,1323,F9,MIA,13303,"Miami, FL",Florida,NaN,NaN,NaN
22,-32.0,0.0,1849.0,NaN,1,-8.0,0.0,1557.0,MIA,13303,...,NaN,1324,F9,DTW,11433,"Detroit, MI",Michigan,NaN,NaN,NaN
23,-11.0,0.0,2230.0,NaN,1,0.0,0.0,2010.0,MKE,13342,...,NaN,1511,F9,MIA,13303,"Miami, FL",Florida,NaN,NaN,NaN
24,5.0,5.0,1103.0,NaN,1,-1.0,0.0,829.0,SFO,14771,...,NaN,1533,F9,ATL,10397,"Atlanta, GA",Georgia,NaN,NaN,NaN
25,-18.0,0.0,1511.0,NaN,1,-3.0,0.0,1145.0,DEN,11292,...,NaN,658,F9,SFO,14771,"San Francisco, CA",California,NaN,NaN,NaN
26,-21.0,0.0,2149.0,NaN,1,-4.0,0.0,1615.0,MIA,13303,...,NaN,614,F9,DEN,11292,"Denver, CO",Colorado,NaN,NaN,NaN
27,-26.0,0.0,106.0,NaN,1,-1.0,0.0,2259.0,DEN,11292,...,NaN,619,F9,MIA,13303,"Miami, FL",Florida,NaN,NaN,NaN
28,13.0,13.0,1133.0,NaN,1,-8.0,0.0,656.0,TPA,15304,...,NaN,1236,F9,MSP,13487,"Minneapolis, MN",Minnesota,NaN,NaN,NaN
29,-11.0,0.0,1356.0,NaN,1,0.0,0.0,1210.0,MCI,13198,...,NaN,1211,F9,TPA,15304,"Tampa, FL",Florida,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644643,53.0,53.0,2017.0,19.0,7,73.0,73.0,1910.0,ORD,13930,...,0.0,2356,AA,RDU,14492,"Raleigh/Durham, NC",North Carolina,0.0,NaN,23.0
644644,15.0,15.0,1939.0,0.0,7,19.0,19.0,1816.0,ORD,13930,...,0.0,2356,AA,RDU,14492,"Raleigh/Durham, NC",North Carolina,0.0,NaN,0.0
644645,1.0,1.0,1925.0,NaN,7,-1.0,0.0,1755.0,ORD,13930,...,NaN,2356,AA,RDU,14492,"Raleigh/Durham, NC",North Carolina,NaN,NaN,NaN
644646,50.0,50.0,1522.0,50.0,7,53.0,53.0,1343.0,SLC,14869,...,0.0,2357,AA,DFW,11298,"Dallas/Fort Worth, TX",Texas,0.0,NaN,0.0
644647,-10.0,0.0,1422.0,NaN,7,-2.0,0.0,1248.0,SLC,14869,...,NaN,2357,AA,DFW,11298,"Dallas/Fort Worth, TX",Texas,NaN,NaN,NaN
644648,102.0,102.0,1614.0,102.0,7,112.0,112.0,1442.0,SLC,14869,...,0.0,2357,AA,DFW,11298,"Dallas/Fort Worth, TX",Texas,0.0,NaN,0.0
644649,-8.0,0.0,1427.0,NaN,7,-4.0,0.0,1246.0,SLC,14869,...,NaN,2357,AA,DFW,11298,"Dallas/Fort Worth, TX",Texas,NaN,NaN,NaN
644650,17.0,17.0,1931.0,0.0,7,34.0,34.0,1604.0,DFW,11298,...,0.0,2357,AA,SLC,14869,"Salt Lake City, UT",Utah,0.0,NaN,0.0
644651,121.0,121.0,2115.0,0.0,7,60.0,60.0,1630.0,DFW,11298,...,121.0,2357,AA,SLC,14869,"Salt Lake City, UT",Utah,0.0,NaN,0.0
644652,66.0,66.0,2020.0,0.0,7,85.0,85.0,1655.0,DFW,11298,...,0.0,2357,AA,SLC,14869,"Salt Lake City, UT",Utah,0.0,NaN,0.0
644653,-12.0,0.0,1902.0,NaN,7,-3.0,0.0,1530.0,DFW,11298,...,NaN,2357,AA,SLC,14869,"Salt Lake City, UT",Utah,NaN,NaN,NaN
644654,-16.0,0.0,1048.0,NaN,7,-6.0,0.0,524.0,ORD,13930,...,NaN,2358,AA,TUS,15376,"Tucson, AZ",Arizona,NaN,NaN,NaN
644655,6.0,6.0,1110.0,NaN,7,13.0,13.0,543.0,ORD,13930,...,NaN,2358,AA,TUS,15376,"Tucson, AZ",Arizona,NaN,NaN,NaN
644656,-17.0,0.0,1047.0,NaN,7,-1.0,0.0,529.0,ORD,13930,...,NaN,2358,AA,TUS,15376,"Tucson, AZ",Arizona,NaN,NaN,NaN
644657,-1.0,0.0,1103.0,NaN,7,-7.0,0.0,533.0,ORD,13930,...,NaN,2358,AA,TUS,15376,"Tucson, AZ",Arizona,NaN,NaN,NaN
644658,9.0,9.0,1847.0,NaN,7,11.0,11.0,1526.0,JAX,12451,...,NaN,2360,AA,DFW,11298,"Dallas/Fort Worth, TX",Texas,NaN,NaN,NaN
644659,14.0,14.0,1852.0,NaN,7,27.0,27.0,1542.0,JAX,12451,...,NaN,2360,AA,DFW,11298,"Dallas/Fort Worth, TX",Texas,NaN,NaN,NaN
644660,3.0,3.0,1841.0,NaN,7,1.0,1.0,1516.0,JAX,12451,...,NaN,2360,AA,DFW,11298,"Dallas/Fort Worth, TX",Texas,NaN,NaN,NaN
644661,-13.0,0.0,2010.0,NaN,7,-1.0,0.0,1904.0,LAX,12892,...,NaN,2360,AA,DFW,11298,"Dallas/Fort Worth, TX",Texas,NaN,NaN,NaN
644662,0.0,0.0,2109.0,NaN,7,3.0,3.0,1931.0,DFW,11298,...,NaN,2360,AA,JAX,12451,"Jacksonville, FL",Florida,NaN,NaN,NaN
644663,40.0,40.0,2149.0,0.0,7,28.0,28.0,1956.0,DFW,11298,...,36.0,2360,AA,JAX,12451,"Jacksonville, FL",Florida,0.0,NaN,0.0
644664,-11.0,0.0,2058.0,NaN,7,-3.0,0.0,1925.0,DFW,11298,...,NaN,2360,AA,JAX,12451,"Jacksonville, FL",Florida,NaN,NaN,NaN
644665,0.0,0.0,1607.0,NaN,7,1.0,1.0,801.0,MCO,13204,...,NaN,2361,AA,LAX,12892,"Los Angeles, CA",California,NaN,NaN,NaN
644666,5.0,5.0,1612.0,NaN,7,-6.0,0.0,754.0,MCO,13204,...,NaN,2361,AA,LAX,12892,"Los Angeles, CA",California,NaN,NaN,NaN
644667,-17.0,0.0,1550.0,NaN,7,-1.0,0.0,759.0,MCO,13204,...,NaN,2361,AA,LAX,12892,"Los Angeles, CA",California,NaN,NaN,NaN
644668,53.0,53.0,1710.0,37.0,7,37.0,37.0,847.0,MCO,13204,...,16.0,2361,AA,LAX,12892,"Los Angeles, CA",California,0.0,NaN,0.0
644669,-5.0,0.0,4.0,NaN,7,-2.0,0.0,2133.0,DCA,11278,...,NaN,2362,AA,MIA,13303,"Miami, FL",Florida,NaN,NaN,NaN
644670,54.0,54.0,103.0,54.0,7,63.0,63.0,2238.0,DCA,11278,...,0.0,2362,AA,MIA,13303,"Miami, FL",Florida,0.0,NaN,0.0
644671,-12.0,0.0,2357.0,NaN,7,-1.0,0.0,2134.0,DCA,11278,...,NaN,2362,AA,MIA,13303,"Miami, FL",Florida,NaN,NaN,NaN
644672,-7.0,0.0,6.0,NaN,7,-2.0,0.0,2133.0,DCA,11278,...,NaN,2362,AA,MIA,13303,"Miami, FL",Florida,NaN,NaN,NaN

In [19]:
df = pd.read_csv("../flight_info_2018.csv")

df.head()

,Unnamed: 0,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_NM,...,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,0,3/1/2018,N201FR,1680,12889,"Las Vegas, NV",Nevada,13204,"Orlando, FL",Florida,...,1019.0,143.0,0,NaN,0,20.0,0.0,32.0,0.0,91.0
1,1,3/1/2018,N201FR,681,13204,"Orlando, FL",Florida,11292,"Denver, CO",Colorado,...,1310.0,115.0,0,NaN,0,4.0,0.0,0.0,0.0,111.0
2,2,3/1/2018,N201FR,681,11292,"Denver, CO",Colorado,14747,"Seattle, WA",Washington,...,1540.0,87.0,0,NaN,0,0.0,0.0,0.0,0.0,87.0
3,3,3/1/2018,N201FR,144,14747,"Seattle, WA",Washington,11292,"Denver, CO",Colorado,...,1948.0,53.0,0,NaN,0,0.0,0.0,0.0,0.0,53.0
4,4,3/1/2018,N201FR,122,11292,"Denver, CO",Colorado,11298,"Dallas/Fort Worth, TX",Texas,...,2317.0,25.0,0,NaN,0,0.0,0.0,0.0,0.0,25.0

In [4]:
len(df)

7272370

In [10]:
#preview the dataframe
df1 = df.drop(['Unnamed: 0'], axis=1)
df1.head()

KeyError: "['Unnamed: 0'] not found in axis"

In [13]:
df.count()

ARR_DELAY              7130071
ARR_DELAY_NEW          7130071
ARR_TIME               7148852
CARRIER_DELAY          1400632
DAY_OF_WEEK            7272370
DEP_DELAY              7150656
DEP_DELAY_NEW          7150656
DEP_TIME               7156199
DEST                   7272370
DEST_AIRPORT_ID        7272370
DEST_CITY_NAME         7272370
DEST_STATE_NM          7272370
FL_DATE                7272370
LATE_AIRCRAFT_DELAY    1400632
NAS_DELAY              1400632
OP_CARRIER_FL_NUM      7272370
OP_UNIQUE_CARRIER      7272370
ORIGIN                 7272370
ORIGIN_AIRPORT_ID      7272370
ORIGIN_CITY_NAME       7272370
ORIGIN_STATE_NM        7272370
SECURITY_DELAY         1400632
Unnamed: 23                  0
WEATHER_DELAY          1400632
dtype: int64

new code for predictions

X = day of week, airport id, carrier, dept_time, origin,

y = delay in mins

dropdown for html

In [9]:
X = "DAY_OF_WEEK", CARRIER","DEP_TIME",'ORIGIN_AIRPORT_ID'

Y = "DEP_DELAY"

In [14]:
"OP_UNIQUE_CARRIER",
df.head()

,ARR_DELAY,ARR_DELAY_NEW,ARR_TIME,CARRIER_DELAY,DAY_OF_WEEK,DEP_DELAY,DEP_DELAY_NEW,DEP_TIME,DEST,DEST_AIRPORT_ID,...,NAS_DELAY,OP_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,SECURITY_DELAY,Unnamed: 23,WEATHER_DELAY
0,-1.0,0.0,417.0,NaN,1,-1.0,0.0,54.0,DEN,11292,...,NaN,408,F9,LAX,12892,"Los Angeles, CA",California,NaN,NaN,NaN
1,-32.0,0.0,933.0,NaN,1,-7.0,0.0,623.0,ORD,13930,...,NaN,1286,F9,DEN,11292,"Denver, CO",Colorado,NaN,NaN,NaN
2,5.0,5.0,824.0,NaN,1,22.0,22.0,622.0,LAS,12889,...,NaN,1679,F9,MCO,13204,"Orlando, FL",Florida,NaN,NaN,NaN
3,7.0,7.0,1436.0,NaN,1,2.0,2.0,912.0,MEM,13244,...,NaN,1990,F9,LAS,12889,"Las Vegas, NV",Nevada,NaN,NaN,NaN
4,212.0,212.0,2029.0,210.0,1,213.0,213.0,1852.0,LAS,12889,...,0.0,1999,F9,MEM,13244,"Memphis, TN",Tennessee,0.0,NaN,0.0

In [18]:
#fillna with 0

df[["DAY_OF_WEEK", "DEP_TIME",'ORIGIN_AIRPORT_ID', "OP_CARRIER_FL_NUM", "DEP_DELAY"]] =  df[["DAY_OF_WEEK", "DEP_TIME",'ORIGIN_AIRPORT_ID', "OP_CARRIER_FL_NUM", "DEP_DELAY"]].fillna(value=0)



df.head()

,ARR_DELAY,ARR_DELAY_NEW,ARR_TIME,CARRIER_DELAY,DAY_OF_WEEK,DEP_DELAY,DEP_DELAY_NEW,DEP_TIME,DEST,DEST_AIRPORT_ID,...,NAS_DELAY,OP_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,SECURITY_DELAY,Unnamed: 23,WEATHER_DELAY
0,-1.0,0.0,417.0,NaN,1,-1.0,0.0,54.0,DEN,11292,...,NaN,408,F9,LAX,12892,"Los Angeles, CA",California,NaN,NaN,NaN
1,-32.0,0.0,933.0,NaN,1,-7.0,0.0,623.0,ORD,13930,...,NaN,1286,F9,DEN,11292,"Denver, CO",Colorado,NaN,NaN,NaN
2,5.0,5.0,824.0,NaN,1,22.0,22.0,622.0,LAS,12889,...,NaN,1679,F9,MCO,13204,"Orlando, FL",Florida,NaN,NaN,NaN
3,7.0,7.0,1436.0,NaN,1,2.0,2.0,912.0,MEM,13244,...,NaN,1990,F9,LAS,12889,"Las Vegas, NV",Nevada,NaN,NaN,NaN
4,212.0,212.0,2029.0,210.0,1,213.0,213.0,1852.0,LAS,12889,...,0.0,1999,F9,MEM,13244,"Memphis, TN",Tennessee,0.0,NaN,0.0

In [49]:
len(df)

7213446

In [43]:
#one hot encoding

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
dfle = df
dfle.carrier = le.fit_transform(dfle.OP_UNIQUE_CARRIER)

dfle.carrier()

TypeError: 'numpy.ndarray' object is not callable

(7272370, 5) (7272370, 1)

In [48]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
dfle = df
dfle.OP_UNIQUE_CARRIER = le.fit_transform(dfle.OP_UNIQUE_CARRIER)

dfle.head()

,ARR_DELAY,ARR_DELAY_NEW,ARR_TIME,CARRIER_DELAY,DAY_OF_WEEK,DEP_DELAY,DEP_DELAY_NEW,DEP_TIME,DEST,DEST_AIRPORT_ID,...,NAS_DELAY,OP_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,SECURITY_DELAY,Unnamed: 23,WEATHER_DELAY
0,-1.0,0.0,417.0,NaN,1,-1.0,0.0,54.0,DEN,11292,...,NaN,408,6,LAX,12892,"Los Angeles, CA",California,NaN,NaN,NaN
1,-32.0,0.0,933.0,NaN,1,-7.0,0.0,623.0,ORD,13930,...,NaN,1286,6,DEN,11292,"Denver, CO",Colorado,NaN,NaN,NaN
2,5.0,5.0,824.0,NaN,1,22.0,22.0,622.0,LAS,12889,...,NaN,1679,6,MCO,13204,"Orlando, FL",Florida,NaN,NaN,NaN
3,7.0,7.0,1436.0,NaN,1,2.0,2.0,912.0,MEM,13244,...,NaN,1990,6,LAS,12889,"Las Vegas, NV",Nevada,NaN,NaN,NaN
4,212.0,212.0,2029.0,210.0,1,213.0,213.0,1852.0,LAS,12889,...,0.0,1999,6,MEM,13244,"Memphis, TN",Tennessee,0.0,NaN,0.0

In [52]:
#reshaping

X = dfle[["DAY_OF_WEEK", "DEP_TIME",'ORIGIN_AIRPORT_ID', "OP_CARRIER_FL_NUM", "OP_UNIQUE_CARRIER"]] 
y =  dfle[["DEP_DELAY"]].values.reshape(-1, 1)
print(X.shape, y.shape)

(7272370, 5) (7272370, 1)

In [53]:
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.datasets import make_regression

In [54]:
# Split the data into training and testing

### BEGIN SOLUTION
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [55]:
X_test

,DAY_OF_WEEK,DEP_TIME,ORIGIN_AIRPORT_ID,OP_CARRIER_FL_NUM,OP_UNIQUE_CARRIER
236666,3,1954.0,10821,301,15
408419,5,832.0,13303,2537,1
85932,1,1430.0,12451,2342,4
393447,5,1511.0,10397,2591,4
93571,2,1844.0,15016,18,4
68433,1,1138.0,15919,3604,17
439718,6,1414.0,12892,1257,4
333012,4,649.0,13487,4746,12
553869,6,1159.0,13198,2812,15
33926,1,1620.0,11298,2418,1
469162,6,715.0,13796,6419,15
432565,6,2014.0,14492,5281,15
100001,2,1139.0,11252,500,3
481573,6,1910.0,13796,4927,15
52681,1,1840.0,11298,2408,1
229485,3,1239.0,12953,3347,0
338300,4,2046.0,10821,1233,4
98599,1,1658.0,13796,3522,15
201860,3,614.0,12889,1009,15
89684,2,1907.0,12451,3485,9
265077,3,1709.0,11278,5180,0
237626,3,1903.0,11259,173,15
228693,3,1905.0,10397,1777,4
440947,5,1958.0,12953,556,13
136532,2,1126.0,15412,3139,12
613880,7,804.0,11292,598,13
454740,6,1427.0,13061,3941,9
251085,4,1152.0,10980,3521,12
107639,2,2157.0,14869,7397,12
142203,2,2225.0,10821,5467,15
...,...,...,...,...,...
473781,6,1743.0,11775,5835,16
104400,2,745.0,15304,1369,1
25803,1,1744.0,10792,295,15
12899,1,2310.0,14747,660,2
248942,4,658.0,10693,2297,1
219445,3,1444.0,11057,5104,11
379559,4,2028.0,13930,3053,12
320832,4,910.0,10721,5969,15
404072,5,2000.0,14635,140,15
320904,4,622.0,11697,2777,1
365039,5,1931.0,11618,677,13
396337,5,1751.0,13930,5066,12
157479,2,1844.0,12889,915,15
71685,1,0.0,11066,588,1
255590,4,756.0,14685,3359,9
352882,4,909.0,11298,2521,1
249892,3,1914.0,12953,521,4
583328,7,1745.0,10397,2496,4
92959,2,1613.0,14683,2224,4
584146,7,1750.0,11292,3747,15
250409,3,2119.0,10397,2284,4
353911,5,1146.0,14747,4737,12
550905,7,1034.0,13930,5217,12
124659,2,1109.0,11292,5123,12
505361,6,1135.0,11995,3506,9
518782,6,1326.0,13541,4605,17
222402,3,2325.0,10397,2043,4
371216,5,1757.0,13198,1906,1
84932,2,2143.0,13930,1250,13
528412,6,1412.0,14262,1056,2

In [59]:
X_test[0:10]

,DAY_OF_WEEK,DEP_TIME,ORIGIN_AIRPORT_ID,OP_CARRIER_FL_NUM,OP_UNIQUE_CARRIER
236666,3,1954.0,10821,301,15
408419,5,832.0,13303,2537,1
85932,1,1430.0,12451,2342,4
393447,5,1511.0,10397,2591,4
93571,2,1844.0,15016,18,4
68433,1,1138.0,15919,3604,17
439718,6,1414.0,12892,1257,4
333012,4,649.0,13487,4746,12
553869,6,1159.0,13198,2812,15
33926,1,1620.0,11298,2418,1

In [60]:
# Create a LinearRegression model and fit it to  training data

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
### END SOLUTION

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [61]:
# predictions = model.predict(X_test)

# predictions()
# PREDICT DEP_DELAY in minutes

abb_X = X_test[0:10]
predictions = model.predict(abb_X)


predictions

array([[18.32288379],
       [ 4.00512231],
       [12.128618  ],
       [12.71115677],
       [16.45147299],
       [ 8.70641863],
       [10.90813156],
       [ 2.499235  ],
       [ 8.23672039],
       [14.52065543]])

In [ ]:
y_test