In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("raw_data/flight_info_2018.csv")

df.head()

,Unnamed: 0,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_NM,...,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,0,3/1/2018,N201FR,1680,12889,"Las Vegas, NV",Nevada,13204,"Orlando, FL",Florida,...,1019.0,143.0,0,NaN,0,20.0,0.0,32.0,0.0,91.0
1,1,3/1/2018,N201FR,681,13204,"Orlando, FL",Florida,11292,"Denver, CO",Colorado,...,1310.0,115.0,0,NaN,0,4.0,0.0,0.0,0.0,111.0
2,2,3/1/2018,N201FR,681,11292,"Denver, CO",Colorado,14747,"Seattle, WA",Washington,...,1540.0,87.0,0,NaN,0,0.0,0.0,0.0,0.0,87.0
3,3,3/1/2018,N201FR,144,14747,"Seattle, WA",Washington,11292,"Denver, CO",Colorado,...,1948.0,53.0,0,NaN,0,0.0,0.0,0.0,0.0,53.0
4,4,3/1/2018,N201FR,122,11292,"Denver, CO",Colorado,11298,"Dallas/Fort Worth, TX",Texas,...,2317.0,25.0,0,NaN,0,0.0,0.0,0.0,0.0,25.0

In [5]:
#preview the dataframe
fl_data = df.reset_index().drop(['index', 'Unnamed: 0'], axis=1)
fl_data.head()

,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,...,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,3/1/2018,N201FR,1680,12889,"Las Vegas, NV",Nevada,13204,"Orlando, FL",Florida,30,...,1019.0,143.0,0,NaN,0,20.0,0.0,32.0,0.0,91.0
1,3/1/2018,N201FR,681,13204,"Orlando, FL",Florida,11292,"Denver, CO",Colorado,900,...,1310.0,115.0,0,NaN,0,4.0,0.0,0.0,0.0,111.0
2,3/1/2018,N201FR,681,11292,"Denver, CO",Colorado,14747,"Seattle, WA",Washington,1215,...,1540.0,87.0,0,NaN,0,0.0,0.0,0.0,0.0,87.0
3,3/1/2018,N201FR,144,14747,"Seattle, WA",Washington,11292,"Denver, CO",Colorado,1514,...,1948.0,53.0,0,NaN,0,0.0,0.0,0.0,0.0,53.0
4,3/1/2018,N201FR,122,11292,"Denver, CO",Colorado,11298,"Dallas/Fort Worth, TX",Texas,1955,...,2317.0,25.0,0,NaN,0,0.0,0.0,0.0,0.0,25.0

In [15]:
df1 = fl_data.rename(index=str, columns={"ORIGIN_AIRPORT_ID" : "AIRPORT_ID",
    "OP_UNIQUE_CARRIER": "AIRLINES",                                   
    "ORIGIN_AIRPORT":"AIRPORT_NAME",
    "CARRIER_DELAY" : "CARRIER_DELAY",
    "NAS_DELAY": "NAS_DELAY",
    "SECURITY_DELAY": "SECURITY_DELAY",
    "WEATHER_DELAY": "WEATHER_DELAY" })

df1.head()  

# jan_df1  = jan_df.append(df['FL_DATE'])


# jan_df1
# scrambled_columns_1 = scrambled_columns.rename(index=str, columns={"Query ID":"Biz Address", "Query Lat":"Biz City", "Query Lng": "Biz Lat", 
#                                              "Name": "Biz Lng", "Category":"Biz Zip", "Biz Address": "Category", "Biz City": "Name", "Biz Zip":"Price",
#                                              "Biz Lat": "Query ID", "Biz Lng": "Query Lat", "Rating": "Query Lng", "Review Count": "Rating",
#                                              "Price": "Review Count", "Yelp ID": "Yelp ID"})
# scrambled_columns_1


# Summary_Table_Schools = pd.DataFrame({"Students Per School": students_per_school, "Type": school_type,"School Budget":Budget_per_school, "Budget_per_student": Per_student_budget,
#                                       "Average Math Score":average_math_df,"Average Reading Score": average_reading_df,"%Passing Math": passing_scores_math,
#                                     "%Passing Reading": passing_scores_reading})

# Summary_Table_Schools.head()

,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,...,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,3/1/2018,N201FR,1680,12889,"Las Vegas, NV",Nevada,13204,"Orlando, FL",Florida,30,...,1019.0,143.0,0,NaN,0,20.0,0.0,32.0,0.0,91.0
1,3/1/2018,N201FR,681,13204,"Orlando, FL",Florida,11292,"Denver, CO",Colorado,900,...,1310.0,115.0,0,NaN,0,4.0,0.0,0.0,0.0,111.0
2,3/1/2018,N201FR,681,11292,"Denver, CO",Colorado,14747,"Seattle, WA",Washington,1215,...,1540.0,87.0,0,NaN,0,0.0,0.0,0.0,0.0,87.0
3,3/1/2018,N201FR,144,14747,"Seattle, WA",Washington,11292,"Denver, CO",Colorado,1514,...,1948.0,53.0,0,NaN,0,0.0,0.0,0.0,0.0,53.0
4,3/1/2018,N201FR,122,11292,"Denver, CO",Colorado,11298,"Dallas/Fort Worth, TX",Texas,1955,...,2317.0,25.0,0,NaN,0,0.0,0.0,0.0,0.0,25.0

In [31]:
#fillna with 0

df1[[ "CARRIER_DELAY", "WEATHER_DELAY", "NAS_DELAY", "SECURITY_DELAY", "LATE_AIRCRAFT_DELAY"]] = df1[["CARRIER_DELAY", "WEATHER_DELAY", "NAS_DELAY", "SECURITY_DELAY", "LATE_AIRCRAFT_DELAY"]].fillna(value=0)

df1.head()

,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,...,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,3/1/2018,N201FR,1680,12889,"Las Vegas, NV",Nevada,13204,"Orlando, FL",Florida,30,...,1019.0,143.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
1,3/1/2018,N201FR,681,13204,"Orlando, FL",Florida,11292,"Denver, CO",Colorado,900,...,1310.0,115.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
2,3/1/2018,N201FR,681,11292,"Denver, CO",Colorado,14747,"Seattle, WA",Washington,1215,...,1540.0,87.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
3,3/1/2018,N201FR,144,14747,"Seattle, WA",Washington,11292,"Denver, CO",Colorado,1514,...,1948.0,53.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
4,3/1/2018,N201FR,122,11292,"Denver, CO",Colorado,11298,"Dallas/Fort Worth, TX",Texas,1955,...,2317.0,25.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0

In [32]:
# applying groupby() function to 
City = df1.groupby('ORIGIN_CITY_NAME') 
  

City.first()

,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,AIRPORT_ID,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,...,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
ORIGIN_CITY_NAME,,,,,,,,,,,,,,,,,,,,,
"Aberdeen, SD",3/1/2018,N913EV,7363,10141,South Dakota,13487,"Minneapolis, MN",Minnesota,1308,1325.0,...,1431.0,2.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Abilene, TX",3/1/2018,N830AE,3618,10136,Texas,11298,"Dallas/Fort Worth, TX",Texas,1307,1402.0,...,1454.0,53.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Adak Island, AK",3/3/2018,N611AS,161,10165,Alaska,10299,"Anchorage, AK",Alaska,1715,1738.0,...,2128.0,31.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Aguadilla, PR",3/1/2018,N681NK,374,10732,Puerto Rico,11697,"Fort Lauderdale, FL",Florida,427,430.0,...,601.0,-4.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Akron, OH",3/1/2018,N11551,4092,10874,Ohio,11618,"Newark, NJ",New Jersey,600,548.0,...,741.0,-2.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Albany, GA",3/1/2018,N8936A,3280,10146,Georgia,10397,"Atlanta, GA",Georgia,1755,1805.0,...,1918.0,19.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Albany, NY",3/1/2018,N12540,4227,10257,New York,13930,"Chicago, IL",Illinois,1834,1824.0,...,2001.0,-16.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Albuquerque, NM",3/1/2018,N919FR,1282,10140,New Mexico,11292,"Denver, CO",Colorado,1739,1733.0,...,1854.0,-11.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Alexandria, LA",3/1/2018,N23139,4180,10185,Louisiana,12266,"Houston, TX",Texas,543,542.0,...,652.0,-3.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Allentown/Bethlehem/Easton, PA",3/10/2018,N14902,4332,10135,Pennsylvania,13930,"Chicago, IL",Illinois,545,715.0,...,834.0,93.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Alpena, MI",3/1/2018,N878AS,7367,10333,Michigan,11433,"Detroit, MI",Michigan,1344,1356.0,...,1602.0,67.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Amarillo, TX",3/1/2018,N12530,4258,10279,Texas,12266,"Houston, TX",Texas,1205,1349.0,...,1519.0,89.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Anchorage, AK",3/1/2018,N612AS,41,10299,Alaska,10551,"Bethel, AK",Alaska,600,600.0,...,714.0,-10.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Appleton, WI",3/3/2018,N738EV,5401,10408,Wisconsin,11433,"Detroit, MI",Michigan,840,839.0,...,1107.0,5.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Arcata/Eureka, CA",3/1/2018,N915SW,5276,10157,California,14771,"San Francisco, CA",California,603,600.0,...,700.0,-20.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Asheville, NC",3/2/2018,N606LR,5491,10431,North Carolina,10397,"Atlanta, GA",Georgia,1646,1640.0,...,1730.0,-22.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Ashland, WV",3/1/2018,419NV,633,12223,West Virginia,14761,"Sanford, FL",Florida,1607,302.0,...,445.0,649.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Aspen, CO",3/1/2018,N706SK,2954,10372,Colorado,11298,"Dallas/Fort Worth, TX",Texas,1636,1615.0,...,1938.0,-16.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Atlanta, GA",3/1/2018,N213FR,429,10397,Georgia,11292,"Denver, CO",Colorado,815,807.0,...,947.0,-2.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Atlantic City, NJ",3/1/2018,N649NK,943,10158,New Jersey,14635,"Fort Myers, FL",Florida,615,607.0,...,843.0,-21.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Augusta, GA",3/31/2018,N538CA,5465,10208,Georgia,10397,"Atlanta, GA",Georgia,1919,1918.0,...,2008.0,-14.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Austin, TX",3/1/2018,N202FR,1141,10423,Texas,12889,"Las Vegas, NV",Nevada,1421,1416.0,...,1511.0,-14.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Bakersfield, CA",3/1/2018,N121SY,5281,10561,California,11292,"Denver, CO",Colorado,535,527.0,...,834.0,-36.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Baltimore, MD",3/1/2018,N14907,4433,10821,Maryland,11618,"Newark, NJ",New Jersey,1535,1527.0,...,1632.0,-21.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Bangor, ME",3/1/2018,N11184,4299,10581,Maine,11618,"Newark, NJ",New Jersey,1225,1220.0,...,1401.0,-14.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Barrow, AK",3/1/2018,N523AS,50,10754,Alaska,10299,"Anchorage, AK",Alaska,1908,2011.0,...,2158.0,65.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Baton Rouge, LA",3/10/2018,N15980,4229,10781,Louisiana,12266,"Houston, TX",Texas,710,701.0,...,922.0,51.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Beaumont/Port Arthur, TX",3/1/2018,N670AE,3962,10728,Texas,11298,"Dallas/Fort Worth, TX",Texas,1225,1230.0,...,1356.0,15.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Belleville, IL",3/1/2018,216NV,1767,10676,Illinois,11697,"Fort Lauderdale, FL",Florida,920,924.0,...,1247.0,-18.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Bellingham, WA",3/1/2018,306NV,1802,10666,Washington,12892,"Los Angeles, CA",California,800,759.0,...,1102.0,18.0,0,A,0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"State College, PA",3/1/2018,N438SW,4277,14711,Pennsylvania,11433,"Detroit, MI",Michigan,1350,1508.0,...,1956.0,240.0,0,B,1,0.0,0.0,0.0,0.0,0.0
"Stillwater, OK",3/1/2018,N835AE,3942,15074,Oklahoma,11298,"Dallas/Fort Worth, TX",Texas,630,625.0,...,741.0,-4.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Stockton, CA",3/1/2018,302NV,531,14716,California,12889,"Las Vegas, NV",Nevada,1714,1749.0,...,1903.0,38.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Sun Valley/Hailey/Ketchum, ID",3/1/2018,N630SK,4610,15041,Idaho,14869,"Salt Lake City, UT",Utah,1257,654.0,...,757.0,-7.0,1,A,0,0.0,0.0,0.0,0.0,0.0
"Syracuse, NY",3/17/2018,N12900,4293,15096,New York,13930,"Chicago, IL",Illinois,1730,1719.0,...,1839.0,-16.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Tallahassee, FL",3/1/2018,N256NN,3576,15249,Florida,11298,"Dallas/Fort Worth, TX",Texas,815,815.0,...,949.0,-1.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Tampa, FL",3/1/2018,N203FR,1201,15304,Florida,12339,"Indianapolis, IN",Indiana,1210,1225.0,...,1441.0,11.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Texarkana, AR",3/1/2018,N822AE,4084,15401,Arkansas,11298,"Dallas/Fort Worth, TX",Texas,1030,1037.0,...,1151.0,11.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Toledo, OH",3/1/2018,333NV,801,15295,Ohio,14112,"St. Petersburg, FL",Florida,1749,1805.0,...,2019.0,4.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Traverse City, MI",3/1/2018,N11109,4064,15380,Michigan,13930,"Chicago, IL",Illinois,1650,1645.0,...,1654.0,-17.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Trenton, NJ",3/1/2018,N235FR,1777,15356,New Jersey,13204,"Orlando, FL",Florida,600,556.0,...,829.0,-16.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Tucson, AZ",3/1/2018,N16170,4359,15376,Arizona,12266,"Houston, TX",Texas,1515,1514.0,...,1842.0,-1.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Tulsa, OK",3/15/2018,N210FR,637,15370,Oklahoma,11292,"Denver, CO",Colorado,1847,1840.0,...,1927.0,-9.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Twin Falls, ID",3/1/2018,N763SK,4610,15389,Idaho,14869,"Salt Lake City, UT",Utah,1257,1309.0,...,1409.0,5.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Tyler, TX",3/1/2018,N846AE,3755,15411,Texas,11298,"Dallas/Fort Worth, TX",Texas,659,651.0,...,739.0,-25.0,1,B,0,0.0,0.0,0.0,0.0,0.0
"Valdosta, GA",3/3/2018,N8943A,3286,15607,Georgia,10397,"Atlanta, GA",Georgia,700,652.0,...,804.0,-13.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Valparaiso, FL",3/1/2018,N16559,4173,15624,Florida,12266,"Houston, TX",Texas,1410,1403.0,...,1620.0,10.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Waco, TX",3/1/2018,N819AE,3754,10155,Texas,11298,"Dallas/Fort Worth, TX",Texas,1340,1342.0,...,1429.0,-3.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Washington, DC",3/1/2018,N233FR,543,11278,Virginia,11292,"Denver, CO",Colorado,700,653.0,...,917.0,12.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Waterloo, IA",3/1/2018,N673AE,3649,10268,Iowa,13930,"Chicago, IL",Illinois,620,753.0,...,901.0,80.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"West Palm Beach/Palm Beach, FL",3/1/2018,N324FR,1786,14027,Florida,12391,"Islip, NY",New York,1522,1530.0,...,1812.0,5.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"White Plains, NY",3/1/2018,N678CA,5407,12197,New York,10397,"Atlanta, GA",Georgia,1725,1813.0,...,2046.0,42.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Wichita Falls, TX",3/1/2018,N647AE,3361,14960,Texas,11298,"Dallas/Fort Worth, TX",Texas,1039,1113.0,...,1209.0,31.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Wichita, KS",3/1/2018,N12552,4157,12278,Kansas,12266,"Houston, TX",Texas,1530,1516.0,...,1712.0,-10.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Williston, ND",3/1/2018,N889AS,4765,12389,North Dakota,13487,"Minneapolis, MN",Minnesota,610,607.0,...,804.0,-6.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Wilmington, NC",3/1/2018,N195PQ,5426,12323,North Carolina,10397,"Atlanta, GA",Georgia,720,715.0,...,911.0,7.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Worcester, MA",3/1/2018,N203JB,1887,13933,Massachusetts,13204,"Orlando, FL",Florida,1655,1652.0,...,2003.0,6.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Wrangell, AK",3/1/2018,N619AS,64,15841,Alaska,12819,"Ketchikan, AK",Alaska,1623,1601.0,...,1631.0,-23.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Yakutat, AK",3/1/2018,N622AS,61,15991,Alaska,10926,"Cordova, AK",Alaska,1149,1835.0,...,1926.0,406.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Yuma, AZ",3/1/2018,N758SK,3011,16218,Arizona,14107,"Phoenix, AZ",Arizona,1119,1113.0,...,1220.0,-20.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0

In [24]:
# Let's print the first entries 
# in all the groups formed. 

City_delays = df1.groupby(['ORIGIN_CITY_NAME', 'DEST_CITY_NAME']) 
  
# Print the first value in each group 
City = City_delays.first() 

City


City_delays_desc = City.sort_values(["DEP_DELAY"], ascending = False)

City_delays_desc

                                                            FL_DATE TAIL_NUM  \
ORIGIN_CITY_NAME          DEST_CITY_NAME
New Orleans, LA           Detroit, MI                      3/1/2018   N638NK
Kansas City, MO           Las Vegas, NV                    3/1/2018   N601NK
Las Vegas, NV             Dallas/Fort Worth, TX            3/1/2018   N601NK
Cleveland, OH             Houston, TX                      3/1/2018   N27200
South Bend, IN            Detroit, MI                      3/1/2018   N979EV
Detroit, MI               Orlando, FL                      3/1/2018   N702FR
                          Allentown/Bethlehem/Easton, PA   3/1/2018   N922EV
Ashland, WV               Sanford, FL                      3/1/2018    419NV
Ontario, CA               San Francisco, CA                3/1/2018   N916SW
New Orleans, LA           Atlantic City, NJ                7/2/2018   N643NK
Rockford, IL              Punta Gorda, FL                  3/1/2018    250NV
Atlantic City, NJ         New Orleans, LA                  7/2/2018   N643NK
Mobile, AL                Dallas/Fort Worth, TX            3/1/2018   N617QX
Burbank, CA               San Francisco, CA                3/1/2018   N934SW
Yakutat, AK               Cordova, AK                      3/1/2018   N622AS
Cordova, AK               Anchorage, AK                    3/1/2018   N622AS
Mobile, AL                Houston, TX                      3/1/2018   N14180
Oakland, CA               Minneapolis, MN                 7/29/2018   N8716B
Philadelphia, PA          Washington, DC                  3/22/2018   N510MJ
Knoxville, TN             Punta Gorda, FL                  3/2/2018    226NV
Sault Ste. Marie, MI      Detroit, MI                      3/1/2018   N8828D
Aspen, CO                 Chicago, IL                      3/1/2018   N713SK
Atlanta, GA               Charlotte, NC                    3/1/2018   N592NN
Roanoke, VA               St. Petersburg, FL               3/1/2018    227NV
Orlando, FL               San Francisco, CA                3/1/2018   N953FR
Nashville, TN             New York, NY                     3/2/2018   N730EV
Detroit, MI               New York, NY                     3/1/2018   N642AE
                          Sault Ste. Marie, MI             3/1/2018   N8828D
Austin, TX                San Francisco, CA                3/1/2018   N204SY
Detroit, MI               Tampa, FL                        3/1/2018   N630NK
...                                                             ...      ...
Iron Mountain/Kingsfd, MI Minneapolis, MN                  3/1/2018   N917EV
Salt Lake City, UT        Portland, OR                     3/1/2018   N192SY
Flint, MI                 Myrtle Beach, SC                 7/4/2018    262NV
Nome, AK                  Kotzebue, AK                     3/6/2018   N517AS
Aspen, CO                 Minneapolis, MN                  3/3/2018   N765SK
Santa Ana, CA             Portland, OR                     3/1/2018   N520AS
Sacramento, CA            Kahului, HI                      3/1/2018   N506AS
Charlotte Amalie, VI      Atlanta, GA                      3/5/2018   N306DQ
Myrtle Beach, SC          Philadelphia, PA                 3/1/2018   N903NK
Bangor, ME                St. Petersburg, FL               3/2/2018    225NV
Devils Lake, ND           Jamestown, ND                    3/1/2018   N920SW
Juneau, AK                Yakutat, AK                      3/1/2018   N622AS
Quincy, IL                Cape Girardeau, MO               3/1/2018   N970SW
Portland, OR              Los Angeles, CA                 3/11/2018   N363VA
Jamestown, ND             Denver, CO                       3/1/2018   N920SW
Aspen, CO                 Dallas/Fort Worth, TX            3/1/2018   N706SK
Ashland, WV               Punta Gorda, FL                  7/1/2018    258NV
Hayden, CO                Washington, DC                  3/31/2018   N493UA
Charleston, SC            Houston, TX                      3/1/2018   N16149
Ketchikan, AK             Seattle, WA                      3/1/2018   N551AS
Wrangell, AK              Ketchikan, AK                    3/1/2018   N619AS
Muskegon, MI              Chicago, IL                      3/1/2018   N925SW
Punta Gorda, FL           Ashland, WV                      7/1/2018    258NV
Cordova, AK               Yakutat, AK                      3/1/2018   N613AS
Nome, AK                  Anchorage, AK                    3/1/2018   N612AS
Kodiak, AK                Anchorage, AK                    3/1/2018   N612AS
Ketchikan, AK             Sitka, AK                        3/1/2018   N552AS
Devils Lake, ND           Denver, CO                       3/1/2018   N967SW
Yakutat, AK               Juneau, AK                       3/1/2018   N613AS
Indianapolis, IN          Sanford, FL                      3/1/2018    307NV

                                                          OP_CARRIER_FL_NUM  \
ORIGIN_CITY_NAME          DEST_CITY_NAME
New Orleans, LA           Detroit, MI                                   810
Kansas City, MO           Las Vegas, NV                                 804
Las Vegas, NV             Dallas/Fort Worth, TX                         208
Cleveland, OH             Houston, TX                                  4370
South Bend, IN            Detroit, MI                                  4594
Detroit, MI               Orlando, FL                                  1669
                          Allentown/Bethlehem/Easton, PA               7410
Ashland, WV               Sanford, FL                                   633
Ontario, CA               San Francisco, CA                            5186
New Orleans, LA           Atlantic City, NJ                            1124
Rockford, IL              Punta Gorda, FL                              1671
Atlantic City, NJ         New Orleans, LA                              1125
Mobile, AL                Dallas/Fort Worth, TX                        2838
Burbank, CA               San Francisco, CA                            5361
Yakutat, AK               Cordova, AK                                    61
Cordova, AK               Anchorage, AK                                  61
Mobile, AL                Houston, TX                                  4186
Oakland, CA               Minneapolis, MN                              4225
Philadelphia, PA          Washington, DC                               6137
Knoxville, TN             Punta Gorda, FL                              1651
Sault Ste. Marie, MI      Detroit, MI                                  7409
Aspen, CO                 Chicago, IL                                  3097
Atlanta, GA               Charlotte, NC                                5255
Roanoke, VA               St. Petersburg, FL                            813
Orlando, FL               San Francisco, CA                            1737
Nashville, TN             New York, NY                                 5410
Detroit, MI               New York, NY                                 4078
                          Sault Ste. Marie, MI                         7409
Austin, TX                San Francisco, CA                            5498
Detroit, MI               Tampa, FL                                     631
...                                                                     ...
Iron Mountain/Kingsfd, MI Minneapolis, MN                              4289
Salt Lake City, UT        Portland, OR                                 3430
Flint, MI                 Myrtle Beach, SC                             1139
Nome, AK                  Kotzebue, AK                                  155
Aspen, CO                 Minneapolis, MN                              3609
Santa Ana, CA             Portland, OR                                  513
Sacramento, CA            Kahului, HI                                   823
Charlotte Amalie, VI      Atlanta, GA                                   307
Myrtle Beach, SC          Philadelphia, PA                              714
Bangor, ME                St. Petersburg, FL                            875
Devils Lake, ND           Jamestown, ND                                5101
Juneau, AK                Yakutat, AK                                    61
Quincy, IL                Cape Girardeau, MO                           5076
Portland, OR              Los Angeles, CA                              1822
Jamestown, ND             Denver, CO                                   5101
Aspen, CO                 Dallas/Fort Worth, TX                        2954
Ashland, WV               Punta Gorda, FL                              1679
Hayden, CO                Washington, DC                               1485
Charleston, SC            Houston, TX                                  4242
Ketchikan, AK             Seattle, WA                                    60
Wrangell, AK              Ketchikan, AK                                  64
Muskegon, MI              Chicago, IL                                  5067
Punta Gorda, FL           Ashland, WV                                  1678
Cordova, AK               Yakutat, AK                                    66
Nome, AK                  Anchorage, AK                                 152
Kodiak, AK                Anchorage, AK                                  40
Ketchikan, AK             Sitka, AK                                      67
Devils Lake, ND           Denver, CO                                   5102
Yakutat, AK               Juneau, AK                                     66
Indianapolis, IN          Sanford, FL                                  1858

                                                          AIRPORT_ID  \
ORIGIN_CITY_NAME          DEST_CITY_NAME
New Orleans, LA           Detroit, MI                          13495
Kansas City, MO           Las Vegas, NV                        13198
Las Vegas, NV             Dallas/Fort Worth, TX                12889
Cleveland, OH             Houston, TX                          11042
South Bend, IN            Detroit, MI                          14696
Detroit, MI               Orlando, FL                          11433
                          Allentown/Bethlehem/Easton, PA       11433
Ashland, WV               Sanford, FL                          12223
Ontario, CA               San Francisco, CA                    13891
New Orleans, LA           Atlantic City, NJ                    13495
Rockford, IL              Punta Gorda, FL                      14512
Atlantic City, NJ         New Orleans, LA                      10158
Mobile, AL                Dallas/Fort Worth, TX                13422
Burbank, CA               San Francisco, CA                    10800
Yakutat, AK               Cordova, AK                          15991
Cordova, AK               Anchorage, AK                        10926
Mobile, AL                Houston, TX                          13422
Oakland, CA               Minneapolis, MN                      13796
Philadelphia, PA          Washington, DC                       14100
Knoxville, TN             Punta Gorda, FL                      15412
Sault Ste. Marie, MI      Detroit, MI                          11013
Aspen, CO                 Chicago, IL                          10372
Atlanta, GA               Charlotte, NC                        10397
Roanoke, VA               St. Petersburg, FL                   14574
Orlando, FL               San Francisco, CA                    13204
Nashville, TN             New York, NY                         10693
Detroit, MI               New York, NY                         11433
                          Sault Ste. Marie, MI                 11433
Austin, TX                San Francisco, CA                    10423
Detroit, MI               Tampa, FL                            11433
...                                                              ...
Iron Mountain/Kingsfd, MI Minneapolis, MN                      12335
Salt Lake City, UT        Portland, OR                         14869
Flint, MI                 Myrtle Beach, SC                     11721
Nome, AK                  Kotzebue, AK                         13873
Aspen, CO                 Minneapolis, MN                      10372
Santa Ana, CA             Portland, OR                         14908
Sacramento, CA            Kahului, HI                          14893
Charlotte Amalie, VI      Atlanta, GA                          15024
Myrtle Beach, SC          Philadelphia, PA                     13577
Bangor, ME                St. Petersburg, FL                   10581
Devils Lake, ND           Jamestown, ND                        11447
Juneau, AK                Yakutat, AK                          12523
Quincy, IL                Cape Girardeau, MO                   15454
Portland, OR              Los Angeles, CA                      14057
Jamestown, ND             Denver, CO                           12519
Aspen, CO                 Dallas/Fort Worth, TX                10372
Ashland, WV               Punta Gorda, FL                      12223
Hayden, CO                Washington, DC                       12094
Charleston, SC            Houston, TX                          10994
Ketchikan, AK             Seattle, WA                          12819
Wrangell, AK              Ketchikan, AK                        15841
Muskegon, MI              Chicago, IL                          13344
Punta Gorda, FL           Ashland, WV                          14082
Cordova, AK               Yakutat, AK                          10926
Nome, AK                  Anchorage, AK                        13873
Kodiak, AK                Anchorage, AK                        10170
Ketchikan, AK             Sitka, AK                            12819
Devils Lake, ND           Denver, CO                           11447
Yakutat, AK               Juneau, AK                           15991
Indianapolis, IN          Sanford, FL                          12339

                                                              ORIGIN_STATE_NM  \
ORIGIN_CITY_NAME          DEST_CITY_NAME
New Orleans, LA           Detroit, MI                               Louisiana
Kansas City, MO           Las Vegas, NV                              Missouri
Las Vegas, NV             Dallas/Fort Worth, TX                        Nevada
Cleveland, OH             Houston, TX                                    Ohio
South Bend, IN            Detroit, MI                                 Indiana
Detroit, MI               Orlando, FL                                Michigan
                          Allentown/Bethlehem/Easton, PA             Michigan
Ashland, WV               Sanford, FL                           West Virginia
Ontario, CA               San Francisco, CA                        California
New Orleans, LA           Atlantic City, NJ                         Louisiana
Rockford, IL              Punta Gorda, FL                            Illinois
Atlantic City, NJ         New Orleans, LA                          New Jersey
Mobile, AL                Dallas/Fort Worth, TX                       Alabama
Burbank, CA               San Francisco, CA                        California
Yakutat, AK               Cordova, AK                                  Alaska
Cordova, AK               Anchorage, AK                                Alaska
Mobile, AL                Houston, TX                                 Alabama
Oakland, CA               Minneapolis, MN                          California
Philadelphia, PA          Washington, DC                         Pennsylvania
Knoxville, TN             Punta Gorda, FL                           Tennessee
Sault Ste. Marie, MI      Detroit, MI                                Michigan
Aspen, CO                 Chicago, IL                                Colorado
Atlanta, GA               Charlotte, NC                               Georgia
Roanoke, VA               St. Petersburg, FL                         Virginia
Orlando, FL               San Francisco, CA                           Florida
Nashville, TN             New York, NY                              Tennessee
Detroit, MI               New York, NY                               Michigan
                          Sault Ste. Marie, MI                       Michigan
Austin, TX                San Francisco, CA                             Texas
Detroit, MI               Tampa, FL                                  Michigan
...                                                                       ...
Iron Mountain/Kingsfd, MI Minneapolis, MN                            Michigan
Salt Lake City, UT        Portland, OR                                   Utah
Flint, MI                 Myrtle Beach, SC                           Michigan
Nome, AK                  Kotzebue, AK                                 Alaska
Aspen, CO                 Minneapolis, MN                            Colorado
Santa Ana, CA             Portland, OR                             California
Sacramento, CA            Kahului, HI                              California
Charlotte Amalie, VI      Atlanta, GA                     U.S. Virgin Islands
Myrtle Beach, SC          Philadelphia, PA                     South Carolina
Bangor, ME                St. Petersburg, FL                            Maine
Devils Lake, ND           Jamestown, ND                          North Dakota
Juneau, AK                Yakutat, AK                                  Alaska
Quincy, IL                Cape Girardeau, MO                         Illinois
Portland, OR              Los Angeles, CA                              Oregon
Jamestown, ND             Denver, CO                             North Dakota
Aspen, CO                 Dallas/Fort Worth, TX                      Colorado
Ashland, WV               Punta Gorda, FL                       West Virginia
Hayden, CO                Washington, DC                             Colorado
Charleston, SC            Houston, TX                          South Carolina
Ketchikan, AK             Seattle, WA                                  Alaska
Wrangell, AK              Ketchikan, AK                                Alaska
Muskegon, MI              Chicago, IL                                Michigan
Punta Gorda, FL           Ashland, WV                                 Florida
Cordova, AK               Yakutat, AK                                  Alaska
Nome, AK                  Anchorage, AK                                Alaska
Kodiak, AK                Anchorage, AK                                Alaska
Ketchikan, AK             Sitka, AK                                    Alaska
Devils Lake, ND           Denver, CO                             North Dakota
Yakutat, AK               Juneau, AK                                   Alaska
Indianapolis, IN          Sanford, FL                                 Indiana

                                                          DEST_AIRPORT_ID  \
ORIGIN_CITY_NAME          DEST_CITY_NAME
New Orleans, LA           Detroit, MI                               11433
Kansas City, MO           Las Vegas, NV                             12889
Las Vegas, NV             Dallas/Fort Worth, TX                     11298
Cleveland, OH             Houston, TX                               12266
South Bend, IN            Detroit, MI                               11433
Detroit, MI               Orlando, FL                               13204
                          Allentown/Bethlehem/Easton, PA            10135
Ashland, WV               Sanford, FL                               14761
Ontario, CA               San Francisco, CA                         14771
New Orleans, LA           Atlantic City, NJ                         10158
Rockford, IL              Punta Gorda, FL                           14082
Atlantic City, NJ         New Orleans, LA                           13495
Mobile, AL                Dallas/Fort Worth, TX                     11298
Burbank, CA               San Francisco, CA                         14771

In [ ]:
from sklearn import linear_model
from sklearn.linear_model import LinearRegression


reg = linear_model.LinearRegression()
reg.fit(jan_df[["OP_CARRIER_FL_NUM","AIRPORT_ID", "CARRIER_DELAY"]], jan_df.DEP_DELAY )

In [33]:
#reshaping


X = df1[["OP_CARRIER_FL_NUM","AIRPORT_ID", "CARRIER_DELAY", "WEATHER_DELAY", "NAS_DELAY", "SECURITY_DELAY", "LATE_AIRCRAFT_DELAY"]]
y = df1[["DEP_DELAY"]].values.reshape(-1, 1)
print(X.shape, y.shape)

(1048575, 7) (1048575, 1)

In [34]:



# Split the data into training and testing

### BEGIN SOLUTION
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
### END SOLUTION
# PREDICT DEP_DELAY

In [35]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data

### BEGIN SOLUTION
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)
### END SOLUTION

# Transform (equally ranging, so values dont outweight each other/normalizing) the training and testing data using the X_scaler and y_scaler models

### BEGIN SOLUTION
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

X_train_scaled

C:\Users\Loba\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Loba\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  del sys.path[0]
C:\Users\Loba\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

array([[-0.99153744,  1.58546031,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.59259429, -0.66514383,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 1.86099785, -1.25925563,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.51077951,  0.95028392,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.68319454,  0.40386002,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.91546065, -1.45133191,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

In [36]:
# Create a LinearRegression model and fit it to  training data

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
### END SOLUTION

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
reg.coef_

In [ ]:
reg.intercept_

In [ ]:
reg.predict([[3900, 6, 10]])

In [ ]:
from sklearn.datasets import make_regression

n_features = 3
X, y = make_regression(n_samples=30, n_features=n_features, 
                       n_informative=n_features, random_state=42, 
                       noise=0.5, bias=100.0)

one hot encoding

In [37]:
df5 = df1.dropna()

df5.head()

Empty DataFrame
Columns: [FL_DATE, TAIL_NUM, OP_CARRIER_FL_NUM, AIRPORT_ID, ORIGIN_CITY_NAME, ORIGIN_STATE_NM, DEST_AIRPORT_ID, DEST_CITY_NAME, DEST_STATE_NM, CRS_DEP_TIME, DEP_TIME, DEP_DELAY, CRS_ARR_TIME, ARR_TIME, ARR_DELAY, CANCELLED, CANCELLATION_CODE, DIVERTED, CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY]
Index: []

[0 rows x 23 columns]

In [13]:
X = df5[["area", "bedrooms", "town"]]
y = df5["price"].values.reshape(-1, 1)
print(X.shape, y.shape)

(30, 3) (30, 1)

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
dfle = df5
dfle.town = le.fit_transform(dfle.y)

dfle

In [ ]:
# Step 0: Reformat data
# data = df5.values
# X = data[:, 0:4]
# # # y = data[:, 4]





dfl = dfle.round(0).astype(int)
dfl

In [ ]:
from sklearn.preprocessing import OneHotEncoder
 
ohe = OneHotEncoder(categorical_features = [4])
# le = LabelEncoder()
# dfle = df5
# le.fit_transform(dfle.x)

ohe

In [ ]:
X = ohe.fit_transform(X).toarray()

In [ ]:
from keras.utils import to_categorical

# Step 2: One-hot encoding
one_hot_y = to_categorical(encoded_y)
one_hot_y

In [ ]:
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)