In [4]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import glob

In [2]:
# Merging csv files (without repeating header)
interesting_files = glob.glob("raw_data/*.csv") 
df = pd.concat((pd.read_csv(f, header = 0) for f in interesting_files))
df

C:\Users\Loba\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,ACTUAL_ELAPSED_TIME,ARR_DEL15,ARR_DELAY,ARR_DELAY_GROUP,ARR_DELAY_NEW,ARR_TIME,CANCELLATION_CODE,CANCELLED,CARRIER_DELAY,CRS_ARR_TIME,...,ORIGIN,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,SECURITY_DELAY,TAIL_NUM,Unnamed: 23,WEATHER_DELAY,WHEELS_ON,YEAR
0,NaN,NaN,-1.0,NaN,0.0,417.0,NaN,NaN,NaN,NaN,...,LAX,12892,"Los Angeles, CA",California,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,-32.0,NaN,0.0,933.0,NaN,NaN,NaN,NaN,...,DEN,11292,"Denver, CO",Colorado,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5.0,NaN,5.0,824.0,NaN,NaN,NaN,NaN,...,MCO,13204,"Orlando, FL",Florida,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,7.0,NaN,7.0,1436.0,NaN,NaN,NaN,NaN,...,LAS,12889,"Las Vegas, NV",Nevada,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,212.0,NaN,212.0,2029.0,NaN,NaN,210.0,NaN,...,MEM,13244,"Memphis, TN",Tennessee,0.0,NaN,NaN,0.0,NaN,NaN
5,NaN,NaN,89.0,NaN,89.0,959.0,NaN,NaN,0.0,NaN,...,ATL,10397,"Atlanta, GA",Georgia,0.0,NaN,NaN,0.0,NaN,NaN
6,NaN,NaN,125.0,NaN,125.0,1334.0,NaN,NaN,0.0,NaN,...,LGA,12953,"New York, NY",New York,0.0,NaN,NaN,6.0,NaN,NaN
7,NaN,NaN,116.0,NaN,116.0,1527.0,NaN,NaN,11.0,NaN,...,CVG,11193,"Cincinnati, OH",Kentucky,0.0,NaN,NaN,0.0,NaN,NaN
8,NaN,NaN,-22.0,NaN,0.0,34.0,NaN,NaN,NaN,NaN,...,DEN,11292,"Denver, CO",Colorado,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,-1.0,NaN,0.0,1009.0,NaN,NaN,NaN,NaN,...,MKE,13342,"Milwaukee, WI",Wisconsin,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,-4.0,NaN,0.0,1336.0,NaN,NaN,NaN,NaN,...,TPA,15304,"Tampa, FL",Florida,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,-2.0,NaN,0.0,1718.0,NaN,NaN,NaN,NaN,...,BUF,10792,"Buffalo, NY",New York,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,10.0,NaN,10.0,2012.0,NaN,NaN,NaN,NaN,...,TPA,15304,"Tampa, FL",Florida,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,15.0,NaN,15.0,2314.0,NaN,NaN,8.0,NaN,...,MKE,13342,"Milwaukee, WI",Wisconsin,0.0,NaN,NaN,0.0,NaN,NaN
14,NaN,NaN,-10.0,NaN,0.0,1409.0,NaN,NaN,NaN,NaN,...,DEN,11292,"Denver, CO",Colorado,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,124.0,NaN,124.0,1913.0,NaN,NaN,0.0,NaN,...,CVG,11193,"Cincinnati, OH",Kentucky,0.0,NaN,NaN,0.0,NaN,NaN
16,NaN,NaN,78.0,NaN,78.0,2211.0,NaN,NaN,0.0,NaN,...,LGA,12953,"New York, NY",New York,0.0,NaN,NaN,0.0,NaN,NaN
17,NaN,NaN,-17.0,NaN,0.0,814.0,NaN,NaN,NaN,NaN,...,TPA,15304,"Tampa, FL",Florida,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,-23.0,NaN,0.0,1142.0,NaN,NaN,NaN,NaN,...,DEN,11292,"Denver, CO",Colorado,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,198.0,NaN,198.0,1922.0,NaN,NaN,198.0,NaN,...,PSP,14262,"Palm Springs, CA",California,0.0,NaN,NaN,0.0,NaN,NaN
20,NaN,NaN,-28.0,NaN,0.0,1035.0,NaN,NaN,NaN,NaN,...,MKE,13342,"Milwaukee, WI",Wisconsin,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,-33.0,NaN,0.0,1442.0,NaN,NaN,NaN,NaN,...,MIA,13303,"Miami, FL",Florida,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,-32.0,NaN,0.0,1849.0,NaN,NaN,NaN,NaN,...,DTW,11433,"Detroit, MI",Michigan,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,-11.0,NaN,0.0,2230.0,NaN,NaN,NaN,NaN,...,MIA,13303,"Miami, FL",Florida,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,5.0,NaN,5.0,1103.0,NaN,NaN,NaN,NaN,...,ATL,10397,"Atlanta, GA",Georgia,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,-18.0,NaN,0.0,1511.0,NaN,NaN,NaN,NaN,...,SFO,14771,"San Francisco, CA",California,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,-21.0,NaN,0.0,2149.0,NaN,NaN,NaN,NaN,...,DEN,11292,"Denver, CO",Colorado,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,-26.0,NaN,0.0,106.0,NaN,NaN,NaN,NaN,...,MIA,13303,"Miami, FL",Florida,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,13.0,NaN,13.0,1133.0,NaN,NaN,NaN,NaN,...,MSP,13487,"Minneapolis, MN",Minnesota,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,-11.0,NaN,0.0,1356.0,NaN,NaN,NaN,NaN,...,TPA,15304,"Tampa, FL",Florida,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644643,NaN,NaN,53.0,NaN,53.0,2017.0,NaN,NaN,19.0,NaN,...,RDU,14492,"Raleigh/Durham, NC",North Carolina,0.0,NaN,NaN,23.0,NaN,NaN
644644,NaN,NaN,15.0,NaN,15.0,1939.0,NaN,NaN,0.0,NaN,...,RDU,14492,"Raleigh/Durham, NC",North Carolina,0.0,NaN,NaN,0.0,NaN,NaN
644645,NaN,NaN,1.0,NaN,1.0,1925.0,NaN,NaN,NaN,NaN,...,RDU,14492,"Raleigh/Durham, NC",North Carolina,NaN,NaN,NaN,NaN,NaN,NaN
644646,NaN,NaN,50.0,NaN,50.0,1522.0,NaN,NaN,50.0,NaN,...,DFW,11298,"Dallas/Fort Worth, TX",Texas,0.0,NaN,NaN,0.0,NaN,NaN
644647,NaN,NaN,-10.0,NaN,0.0,1422.0,NaN,NaN,NaN,NaN,...,DFW,11298,"Dallas/Fort Worth, TX",Texas,NaN,NaN,NaN,NaN,NaN,NaN
644648,NaN,NaN,102.0,NaN,102.0,1614.0,NaN,NaN,102.0,NaN,...,DFW,11298,"Dallas/Fort Worth, TX",Texas,0.0,NaN,NaN,0.0,NaN,NaN
644649,NaN,NaN,-8.0,NaN,0.0,1427.0,NaN,NaN,NaN,NaN,...,DFW,11298,"Dallas/Fort Worth, TX",Texas,NaN,NaN,NaN,NaN,NaN,NaN
644650,NaN,NaN,17.0,NaN,17.0,1931.0,NaN,NaN,0.0,NaN,...,SLC,14869,"Salt Lake City, UT",Utah,0.0,NaN,NaN,0.0,NaN,NaN
644651,NaN,NaN,121.0,NaN,121.0,2115.0,NaN,NaN,0.0,NaN,...,SLC,14869,"Salt Lake City, UT",Utah,0.0,NaN,NaN,0.0,NaN,NaN
644652,NaN,NaN,66.0,NaN,66.0,2020.0,NaN,NaN,0.0,NaN,...,SLC,14869,"Salt Lake City, UT",Utah,0.0,NaN,NaN,0.0,NaN,NaN
644653,NaN,NaN,-12.0,NaN,0.0,1902.0,NaN,NaN,NaN,NaN,...,SLC,14869,"Salt Lake City, UT",Utah,NaN,NaN,NaN,NaN,NaN,NaN
644654,NaN,NaN,-16.0,NaN,0.0,1048.0,NaN,NaN,NaN,NaN,...,TUS,15376,"Tucson, AZ",Arizona,NaN,NaN,NaN,NaN,NaN,NaN
644655,NaN,NaN,6.0,NaN,6.0,1110.0,NaN,NaN,NaN,NaN,...,TUS,15376,"Tucson, AZ",Arizona,NaN,NaN,NaN,NaN,NaN,NaN
644656,NaN,NaN,-17.0,NaN,0.0,1047.0,NaN,NaN,NaN,NaN,...,TUS,15376,"Tucson, AZ",Arizona,NaN,NaN,NaN,NaN,NaN,NaN
644657,NaN,NaN,-1.0,NaN,0.0,1103.0,NaN,NaN,NaN,NaN,...,TUS,15376,"Tucson, AZ",Arizona,NaN,NaN,NaN,NaN,NaN,NaN
644658,NaN,NaN,9.0,NaN,9.0,1847.0,NaN,NaN,NaN,NaN,...,DFW,11298,"Dallas/Fort Worth, TX",Texas,NaN,NaN,NaN,NaN,NaN,NaN
644659,NaN,NaN,14.0,NaN,14.0,1852.0,NaN,NaN,NaN,NaN,...,DFW,11298,"Dallas/Fort Worth, TX",Texas,NaN,NaN,NaN,NaN,NaN,NaN
644660,NaN,NaN,3.0,NaN,3.0,1841.0,NaN,NaN,NaN,NaN,...,DFW,11298,"Dallas/Fort Worth, TX",Texas,NaN,NaN,NaN,NaN,NaN,NaN
644661,NaN,NaN,-13.0,NaN,0.0,2010.0,NaN,NaN,NaN,NaN,...,DFW,11298,"Dallas/Fort Worth, TX",Texas,NaN,NaN,NaN,NaN,NaN,NaN
644662,NaN,NaN,0.0,NaN,0.0,2109.0,NaN,NaN,NaN,NaN,...,JAX,12451,"Jacksonville, FL",Florida,NaN,NaN,NaN,NaN,NaN,NaN
644663,NaN,NaN,40.0,NaN,40.0,2149.0,NaN,NaN,0.0,NaN,...,JAX,12451,"Jacksonville, FL",Florida,0.0,NaN,NaN,0.0,NaN,NaN
644664,NaN,NaN,-11.0,NaN,0.0,2058.0,NaN,NaN,NaN,NaN,...,JAX,12451,"Jacksonville, FL",Florida,NaN,NaN,NaN,NaN,NaN,NaN
644665,NaN,NaN,0.0,NaN,0.0,1607.0,NaN,NaN,NaN,NaN,...,LAX,12892,"Los Angeles, CA",California,NaN,NaN,NaN,NaN,NaN,NaN
644666,NaN,NaN,5.0,NaN,5.0,1612.0,NaN,NaN,NaN,NaN,...,LAX,12892,"Los Angeles, CA",California,NaN,NaN,NaN,NaN,NaN,NaN
644667,NaN,NaN,-17.0,NaN,0.0,1550.0,NaN,NaN,NaN,NaN,...,LAX,12892,"Los Angeles, CA",California,NaN,NaN,NaN,NaN,NaN,NaN
644668,NaN,NaN,53.0,NaN,53.0,1710.0,NaN,NaN,37.0,NaN,...,LAX,12892,"Los Angeles, CA",California,0.0,NaN,NaN,0.0,NaN,NaN
644669,NaN,NaN,-5.0,NaN,0.0,4.0,NaN,NaN,NaN,NaN,...,MIA,13303,"Miami, FL",Florida,NaN,NaN,NaN,NaN,NaN,NaN
644670,NaN,NaN,54.0,NaN,54.0,103.0,NaN,NaN,54.0,NaN,...,MIA,13303,"Miami, FL",Florida,0.0,NaN,NaN,0.0,NaN,NaN
644671,NaN,NaN,-12.0,NaN,0.0,2357.0,NaN,NaN,NaN,NaN,...,MIA,13303,"Miami, FL",Florida,NaN,NaN,NaN,NaN,NaN,NaN
644672,NaN,NaN,-7.0,NaN,0.0,6.0,NaN,NaN,NaN,NaN,...,MIA,13303,"Miami, FL",Florida,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df = pd.read_csv("../flight_info_2018.csv")

df.head()

,Unnamed: 0,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_NM,...,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,0,3/1/2018,N201FR,1680,12889,"Las Vegas, NV",Nevada,13204,"Orlando, FL",Florida,...,1019.0,143.0,0,NaN,0,20.0,0.0,32.0,0.0,91.0
1,1,3/1/2018,N201FR,681,13204,"Orlando, FL",Florida,11292,"Denver, CO",Colorado,...,1310.0,115.0,0,NaN,0,4.0,0.0,0.0,0.0,111.0
2,2,3/1/2018,N201FR,681,11292,"Denver, CO",Colorado,14747,"Seattle, WA",Washington,...,1540.0,87.0,0,NaN,0,0.0,0.0,0.0,0.0,87.0
3,3,3/1/2018,N201FR,144,14747,"Seattle, WA",Washington,11292,"Denver, CO",Colorado,...,1948.0,53.0,0,NaN,0,0.0,0.0,0.0,0.0,53.0
4,4,3/1/2018,N201FR,122,11292,"Denver, CO",Colorado,11298,"Dallas/Fort Worth, TX",Texas,...,2317.0,25.0,0,NaN,0,0.0,0.0,0.0,0.0,25.0

In [46]:
len(df)

7213446

In [47]:
df.count()

Unnamed: 0             7213446
FL_DATE                7213446
TAIL_NUM               7198920
OP_CARRIER_FL_NUM      7213446
ORIGIN_AIRPORT_ID      7213446
ORIGIN_CITY_NAME       7213446
ORIGIN_STATE_NM        7213446
DEST_AIRPORT_ID        7213446
DEST_CITY_NAME         7213446
DEST_STATE_NM          7213446
CRS_DEP_TIME           7213446
DEP_TIME               7101129
DEP_DELAY              7096212
CRS_ARR_TIME           7213446
ARR_TIME               7094201
ARR_DELAY              7076406
CANCELLED              7213446
CANCELLATION_CODE       116584
DIVERTED               7213446
CARRIER_DELAY          1352710
WEATHER_DELAY          1352710
NAS_DELAY              1352710
SECURITY_DELAY         1352710
LATE_AIRCRAFT_DELAY    1352710
dtype: int64

In [6]:
#preview the dataframe
fl_data = df.drop(['Unnamed: 0'], axis=1)
fl_data.head()

,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,...,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,3/1/2018,N201FR,1680,12889,"Las Vegas, NV",Nevada,13204,"Orlando, FL",Florida,30,...,1019.0,143.0,0,NaN,0,20.0,0.0,32.0,0.0,91.0
1,3/1/2018,N201FR,681,13204,"Orlando, FL",Florida,11292,"Denver, CO",Colorado,900,...,1310.0,115.0,0,NaN,0,4.0,0.0,0.0,0.0,111.0
2,3/1/2018,N201FR,681,11292,"Denver, CO",Colorado,14747,"Seattle, WA",Washington,1215,...,1540.0,87.0,0,NaN,0,0.0,0.0,0.0,0.0,87.0
3,3/1/2018,N201FR,144,14747,"Seattle, WA",Washington,11292,"Denver, CO",Colorado,1514,...,1948.0,53.0,0,NaN,0,0.0,0.0,0.0,0.0,53.0
4,3/1/2018,N201FR,122,11292,"Denver, CO",Colorado,11298,"Dallas/Fort Worth, TX",Texas,1955,...,2317.0,25.0,0,NaN,0,0.0,0.0,0.0,0.0,25.0

In [7]:
df1 = fl_data.rename(index=str, columns={"ORIGIN_AIRPORT_ID" : "AIRPORT_ID",
    "OP_UNIQUE_CARRIER": "AIRLINES",                                   
    "ORIGIN_AIRPORT":"AIRPORT_NAME",
    "CARRIER_DELAY" : "CARRIER_DELAY",
    "NAS_DELAY": "NAS_DELAY",
    "SECURITY_DELAY": "SECURITY_DELAY",
    "WEATHER_DELAY": "WEATHER_DELAY" })

df1.head()  

# jan_df1  = jan_df.append(df['FL_DATE'])


# jan_df1
# scrambled_columns_1 = scrambled_columns.rename(index=str, columns={"Query ID":"Biz Address", "Query Lat":"Biz City", "Query Lng": "Biz Lat", 
#                                              "Name": "Biz Lng", "Category":"Biz Zip", "Biz Address": "Category", "Biz City": "Name", "Biz Zip":"Price",
#                                              "Biz Lat": "Query ID", "Biz Lng": "Query Lat", "Rating": "Query Lng", "Review Count": "Rating",
#                                              "Price": "Review Count", "Yelp ID": "Yelp ID"})
# scrambled_columns_1


# Summary_Table_Schools = pd.DataFrame({"Students Per School": students_per_school, "Type": school_type,"School Budget":Budget_per_school, "Budget_per_student": Per_student_budget,
#                                       "Average Math Score":average_math_df,"Average Reading Score": average_reading_df,"%Passing Math": passing_scores_math,
#                                     "%Passing Reading": passing_scores_reading})

# Summary_Table_Schools.head()

,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,...,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,3/1/2018,N201FR,1680,12889,"Las Vegas, NV",Nevada,13204,"Orlando, FL",Florida,30,...,1019.0,143.0,0,NaN,0,20.0,0.0,32.0,0.0,91.0
1,3/1/2018,N201FR,681,13204,"Orlando, FL",Florida,11292,"Denver, CO",Colorado,900,...,1310.0,115.0,0,NaN,0,4.0,0.0,0.0,0.0,111.0
2,3/1/2018,N201FR,681,11292,"Denver, CO",Colorado,14747,"Seattle, WA",Washington,1215,...,1540.0,87.0,0,NaN,0,0.0,0.0,0.0,0.0,87.0
3,3/1/2018,N201FR,144,14747,"Seattle, WA",Washington,11292,"Denver, CO",Colorado,1514,...,1948.0,53.0,0,NaN,0,0.0,0.0,0.0,0.0,53.0
4,3/1/2018,N201FR,122,11292,"Denver, CO",Colorado,11298,"Dallas/Fort Worth, TX",Texas,1955,...,2317.0,25.0,0,NaN,0,0.0,0.0,0.0,0.0,25.0

In [8]:
#fillna with 0

df1[[ "CARRIER_DELAY", "WEATHER_DELAY", "NAS_DELAY", "SECURITY_DELAY", "LATE_AIRCRAFT_DELAY", "DEP_DELAY"]]= df1[["CARRIER_DELAY", "WEATHER_DELAY", "NAS_DELAY", "SECURITY_DELAY", "LATE_AIRCRAFT_DELAY", "DEP_DELAY"]].fillna(value=0)

df1.head()

,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,...,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,3/1/2018,N201FR,1680,12889,"Las Vegas, NV",Nevada,13204,"Orlando, FL",Florida,30,...,1019.0,143.0,0,NaN,0,20.0,0.0,32.0,0.0,91.0
1,3/1/2018,N201FR,681,13204,"Orlando, FL",Florida,11292,"Denver, CO",Colorado,900,...,1310.0,115.0,0,NaN,0,4.0,0.0,0.0,0.0,111.0
2,3/1/2018,N201FR,681,11292,"Denver, CO",Colorado,14747,"Seattle, WA",Washington,1215,...,1540.0,87.0,0,NaN,0,0.0,0.0,0.0,0.0,87.0
3,3/1/2018,N201FR,144,14747,"Seattle, WA",Washington,11292,"Denver, CO",Colorado,1514,...,1948.0,53.0,0,NaN,0,0.0,0.0,0.0,0.0,53.0
4,3/1/2018,N201FR,122,11292,"Denver, CO",Colorado,11298,"Dallas/Fort Worth, TX",Texas,1955,...,2317.0,25.0,0,NaN,0,0.0,0.0,0.0,0.0,25.0

In [49]:
len(df1)

7213446

In [32]:
# applying groupby() function to 
City = df1.groupby('ORIGIN_CITY_NAME') 
  

City.first()

,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,AIRPORT_ID,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,...,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
ORIGIN_CITY_NAME,,,,,,,,,,,,,,,,,,,,,
"Aberdeen, SD",3/1/2018,N913EV,7363,10141,South Dakota,13487,"Minneapolis, MN",Minnesota,1308,1325.0,...,1431.0,2.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Abilene, TX",3/1/2018,N830AE,3618,10136,Texas,11298,"Dallas/Fort Worth, TX",Texas,1307,1402.0,...,1454.0,53.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Adak Island, AK",3/3/2018,N611AS,161,10165,Alaska,10299,"Anchorage, AK",Alaska,1715,1738.0,...,2128.0,31.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Aguadilla, PR",3/1/2018,N681NK,374,10732,Puerto Rico,11697,"Fort Lauderdale, FL",Florida,427,430.0,...,601.0,-4.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Akron, OH",3/1/2018,N11551,4092,10874,Ohio,11618,"Newark, NJ",New Jersey,600,548.0,...,741.0,-2.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Albany, GA",3/1/2018,N8936A,3280,10146,Georgia,10397,"Atlanta, GA",Georgia,1755,1805.0,...,1918.0,19.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Albany, NY",3/1/2018,N12540,4227,10257,New York,13930,"Chicago, IL",Illinois,1834,1824.0,...,2001.0,-16.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Albuquerque, NM",3/1/2018,N919FR,1282,10140,New Mexico,11292,"Denver, CO",Colorado,1739,1733.0,...,1854.0,-11.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Alexandria, LA",3/1/2018,N23139,4180,10185,Louisiana,12266,"Houston, TX",Texas,543,542.0,...,652.0,-3.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Allentown/Bethlehem/Easton, PA",3/10/2018,N14902,4332,10135,Pennsylvania,13930,"Chicago, IL",Illinois,545,715.0,...,834.0,93.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Alpena, MI",3/1/2018,N878AS,7367,10333,Michigan,11433,"Detroit, MI",Michigan,1344,1356.0,...,1602.0,67.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Amarillo, TX",3/1/2018,N12530,4258,10279,Texas,12266,"Houston, TX",Texas,1205,1349.0,...,1519.0,89.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Anchorage, AK",3/1/2018,N612AS,41,10299,Alaska,10551,"Bethel, AK",Alaska,600,600.0,...,714.0,-10.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Appleton, WI",3/3/2018,N738EV,5401,10408,Wisconsin,11433,"Detroit, MI",Michigan,840,839.0,...,1107.0,5.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Arcata/Eureka, CA",3/1/2018,N915SW,5276,10157,California,14771,"San Francisco, CA",California,603,600.0,...,700.0,-20.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Asheville, NC",3/2/2018,N606LR,5491,10431,North Carolina,10397,"Atlanta, GA",Georgia,1646,1640.0,...,1730.0,-22.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Ashland, WV",3/1/2018,419NV,633,12223,West Virginia,14761,"Sanford, FL",Florida,1607,302.0,...,445.0,649.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Aspen, CO",3/1/2018,N706SK,2954,10372,Colorado,11298,"Dallas/Fort Worth, TX",Texas,1636,1615.0,...,1938.0,-16.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Atlanta, GA",3/1/2018,N213FR,429,10397,Georgia,11292,"Denver, CO",Colorado,815,807.0,...,947.0,-2.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Atlantic City, NJ",3/1/2018,N649NK,943,10158,New Jersey,14635,"Fort Myers, FL",Florida,615,607.0,...,843.0,-21.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Augusta, GA",3/31/2018,N538CA,5465,10208,Georgia,10397,"Atlanta, GA",Georgia,1919,1918.0,...,2008.0,-14.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Austin, TX",3/1/2018,N202FR,1141,10423,Texas,12889,"Las Vegas, NV",Nevada,1421,1416.0,...,1511.0,-14.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Bakersfield, CA",3/1/2018,N121SY,5281,10561,California,11292,"Denver, CO",Colorado,535,527.0,...,834.0,-36.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Baltimore, MD",3/1/2018,N14907,4433,10821,Maryland,11618,"Newark, NJ",New Jersey,1535,1527.0,...,1632.0,-21.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Bangor, ME",3/1/2018,N11184,4299,10581,Maine,11618,"Newark, NJ",New Jersey,1225,1220.0,...,1401.0,-14.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Barrow, AK",3/1/2018,N523AS,50,10754,Alaska,10299,"Anchorage, AK",Alaska,1908,2011.0,...,2158.0,65.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Baton Rouge, LA",3/10/2018,N15980,4229,10781,Louisiana,12266,"Houston, TX",Texas,710,701.0,...,922.0,51.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Beaumont/Port Arthur, TX",3/1/2018,N670AE,3962,10728,Texas,11298,"Dallas/Fort Worth, TX",Texas,1225,1230.0,...,1356.0,15.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Belleville, IL",3/1/2018,216NV,1767,10676,Illinois,11697,"Fort Lauderdale, FL",Florida,920,924.0,...,1247.0,-18.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Bellingham, WA",3/1/2018,306NV,1802,10666,Washington,12892,"Los Angeles, CA",California,800,759.0,...,1102.0,18.0,0,A,0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"State College, PA",3/1/2018,N438SW,4277,14711,Pennsylvania,11433,"Detroit, MI",Michigan,1350,1508.0,...,1956.0,240.0,0,B,1,0.0,0.0,0.0,0.0,0.0
"Stillwater, OK",3/1/2018,N835AE,3942,15074,Oklahoma,11298,"Dallas/Fort Worth, TX",Texas,630,625.0,...,741.0,-4.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Stockton, CA",3/1/2018,302NV,531,14716,California,12889,"Las Vegas, NV",Nevada,1714,1749.0,...,1903.0,38.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Sun Valley/Hailey/Ketchum, ID",3/1/2018,N630SK,4610,15041,Idaho,14869,"Salt Lake City, UT",Utah,1257,654.0,...,757.0,-7.0,1,A,0,0.0,0.0,0.0,0.0,0.0
"Syracuse, NY",3/17/2018,N12900,4293,15096,New York,13930,"Chicago, IL",Illinois,1730,1719.0,...,1839.0,-16.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Tallahassee, FL",3/1/2018,N256NN,3576,15249,Florida,11298,"Dallas/Fort Worth, TX",Texas,815,815.0,...,949.0,-1.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Tampa, FL",3/1/2018,N203FR,1201,15304,Florida,12339,"Indianapolis, IN",Indiana,1210,1225.0,...,1441.0,11.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Texarkana, AR",3/1/2018,N822AE,4084,15401,Arkansas,11298,"Dallas/Fort Worth, TX",Texas,1030,1037.0,...,1151.0,11.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Toledo, OH",3/1/2018,333NV,801,15295,Ohio,14112,"St. Petersburg, FL",Florida,1749,1805.0,...,2019.0,4.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Traverse City, MI",3/1/2018,N11109,4064,15380,Michigan,13930,"Chicago, IL",Illinois,1650,1645.0,...,1654.0,-17.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Trenton, NJ",3/1/2018,N235FR,1777,15356,New Jersey,13204,"Orlando, FL",Florida,600,556.0,...,829.0,-16.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Tucson, AZ",3/1/2018,N16170,4359,15376,Arizona,12266,"Houston, TX",Texas,1515,1514.0,...,1842.0,-1.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Tulsa, OK",3/15/2018,N210FR,637,15370,Oklahoma,11292,"Denver, CO",Colorado,1847,1840.0,...,1927.0,-9.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Twin Falls, ID",3/1/2018,N763SK,4610,15389,Idaho,14869,"Salt Lake City, UT",Utah,1257,1309.0,...,1409.0,5.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Tyler, TX",3/1/2018,N846AE,3755,15411,Texas,11298,"Dallas/Fort Worth, TX",Texas,659,651.0,...,739.0,-25.0,1,B,0,0.0,0.0,0.0,0.0,0.0
"Valdosta, GA",3/3/2018,N8943A,3286,15607,Georgia,10397,"Atlanta, GA",Georgia,700,652.0,...,804.0,-13.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Valparaiso, FL",3/1/2018,N16559,4173,15624,Florida,12266,"Houston, TX",Texas,1410,1403.0,...,1620.0,10.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Waco, TX",3/1/2018,N819AE,3754,10155,Texas,11298,"Dallas/Fort Worth, TX",Texas,1340,1342.0,...,1429.0,-3.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Washington, DC",3/1/2018,N233FR,543,11278,Virginia,11292,"Denver, CO",Colorado,700,653.0,...,917.0,12.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Waterloo, IA",3/1/2018,N673AE,3649,10268,Iowa,13930,"Chicago, IL",Illinois,620,753.0,...,901.0,80.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"West Palm Beach/Palm Beach, FL",3/1/2018,N324FR,1786,14027,Florida,12391,"Islip, NY",New York,1522,1530.0,...,1812.0,5.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"White Plains, NY",3/1/2018,N678CA,5407,12197,New York,10397,"Atlanta, GA",Georgia,1725,1813.0,...,2046.0,42.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Wichita Falls, TX",3/1/2018,N647AE,3361,14960,Texas,11298,"Dallas/Fort Worth, TX",Texas,1039,1113.0,...,1209.0,31.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Wichita, KS",3/1/2018,N12552,4157,12278,Kansas,12266,"Houston, TX",Texas,1530,1516.0,...,1712.0,-10.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Williston, ND",3/1/2018,N889AS,4765,12389,North Dakota,13487,"Minneapolis, MN",Minnesota,610,607.0,...,804.0,-6.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Wilmington, NC",3/1/2018,N195PQ,5426,12323,North Carolina,10397,"Atlanta, GA",Georgia,720,715.0,...,911.0,7.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Worcester, MA",3/1/2018,N203JB,1887,13933,Massachusetts,13204,"Orlando, FL",Florida,1655,1652.0,...,2003.0,6.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Wrangell, AK",3/1/2018,N619AS,64,15841,Alaska,12819,"Ketchikan, AK",Alaska,1623,1601.0,...,1631.0,-23.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Yakutat, AK",3/1/2018,N622AS,61,15991,Alaska,10926,"Cordova, AK",Alaska,1149,1835.0,...,1926.0,406.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Yuma, AZ",3/1/2018,N758SK,3011,16218,Arizona,14107,"Phoenix, AZ",Arizona,1119,1113.0,...,1220.0,-20.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0

In [55]:
# Let's print the first entries 
# in all the groups formed. 

City_delays = df1.groupby(['ORIGIN_CITY_NAME', 'DEST_CITY_NAME']) 
  
# Print the first value in each group 
City = City_delays.first() 

City


City_delays_desc = City.sort_values(["DEP_DELAY"], ascending = False)

City_delays_desc

,,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,AIRPORT_ID,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
ORIGIN_CITY_NAME,DEST_CITY_NAME,,,,,,,,,,,,,,,,,,,,,
"Wichita, KS","Manhattan/Ft. Riley, KS",10/12/2018,N717EV,2927,12278,Kansas,13290,Kansas,10,54.0,1484.0,...,NaN,NaN,0,NaN,1,0.0,0.0,0.0,0.0,0.0
"New Orleans, LA","Detroit, MI",3/1/2018,N638NK,810,13495,Louisiana,11433,Michigan,1313,916.0,1203.0,...,1242.0,1197.0,0,B,0,1197.0,0.0,0.0,0.0,0.0
"Escanaba, MI","Marquette, MI",6/17/2018,N447SW,7406,11587,Michigan,13459,Michigan,1835,1203.0,1048.0,...,NaN,NaN,0,NaN,1,0.0,0.0,0.0,0.0,0.0
"Kansas City, MO","Las Vegas, NV",3/1/2018,N601NK,804,13198,Missouri,12889,Nevada,1720,1007.0,1007.0,...,1114.0,1009.0,0,A,0,0.0,1007.0,2.0,0.0,0.0
"Las Vegas, NV","Dallas/Fort Worth, TX",3/1/2018,N601NK,208,12889,Nevada,11298,Texas,1926,1203.0,997.0,...,1624.0,988.0,0,B,0,0.0,0.0,0.0,0.0,988.0
"Cleveland, OH","Houston, TX",3/1/2018,N27200,4370,11042,Ohio,12266,Texas,1820,1004.0,944.0,...,1221.0,943.0,0,C,0,0.0,154.0,0.0,0.0,789.0
"Islip, NY","Minneapolis, MN",7/2/2018,N323FR,459,12391,New York,13487,Minnesota,600,2055.0,895.0,...,2308.0,896.0,0,NaN,0,1.0,0.0,103.0,0.0,792.0
"South Bend, IN","Detroit, MI",3/1/2018,N979EV,4594,14696,Indiana,11433,Michigan,1730,726.0,836.0,...,831.0,829.0,0,B,0,0.0,829.0,0.0,0.0,0.0
"Killeen, TX","Atlanta, GA",1/3/2018,N922XJ,3617,11982,Texas,10397,Georgia,620,2000.0,820.0,...,2258.0,803.0,0,NaN,0,0.0,803.0,0.0,0.0,0.0
"Fargo, ND","Jamestown, ND",11/21/2018,N928SW,5104,11637,North Dakota,12519,North Dakota,2349,1310.0,801.0,...,NaN,NaN,0,NaN,1,0.0,0.0,0.0,0.0,0.0
"Harrisburg, PA","White Plains, NY",1/12/2018,N195PQ,5552,13230,Pennsylvania,12197,New York,1950,829.0,759.0,...,959.0,798.0,0,NaN,0,759.0,0.0,39.0,0.0,0.0
"Detroit, MI","Orlando, FL",3/1/2018,N702FR,1669,11433,Michigan,13204,Florida,1330,136.0,726.0,...,451.0,765.0,0,A,0,0.0,726.0,39.0,0.0,0.0
"Ashland, WV","Sanford, FL",3/1/2018,419NV,633,12223,West Virginia,14761,Florida,1607,302.0,655.0,...,445.0,649.0,0,A,0,649.0,0.0,0.0,0.0,0.0
"Ontario, CA","San Francisco, CA",3/1/2018,N916SW,5186,13891,California,14771,California,800,1832.0,632.0,...,2003.0,628.0,0,B,0,0.0,0.0,628.0,0.0,0.0
"New Orleans, LA","Atlantic City, NJ",7/2/2018,N643NK,1124,13495,Louisiana,10158,New Jersey,955,1716.0,441.0,...,2111.0,452.0,0,NaN,0,441.0,0.0,11.0,0.0,0.0
"Rockford, IL","Punta Gorda, FL",3/1/2018,250NV,1671,14512,Illinois,14082,Florida,1711,27.0,436.0,...,355.0,419.0,0,B,0,419.0,0.0,0.0,0.0,0.0
"Atlantic City, NJ","New Orleans, LA",7/2/2018,N643NK,1125,10158,New Jersey,13495,Louisiana,1435,2147.0,432.0,...,2317.0,412.0,0,NaN,0,0.0,0.0,0.0,0.0,412.0
"Mobile, AL","Dallas/Fort Worth, TX",3/1/2018,N617QX,2838,13422,Alabama,11298,Texas,600,1309.0,429.0,...,1505.0,430.0,0,A,0,429.0,0.0,1.0,0.0,0.0
"Yakutat, AK","Cordova, AK",3/1/2018,N622AS,61,15991,Alaska,10926,Alaska,1149,1835.0,406.0,...,1926.0,406.0,0,B,0,406.0,0.0,0.0,0.0,0.0
"Mission/McAllen/Edinburg, TX","Brownsville, TX",10/16/2018,N758EV,3243,13256,Texas,10747,Texas,42,716.0,394.0,...,NaN,NaN,0,NaN,1,0.0,0.0,0.0,0.0,0.0
"Cordova, AK","Anchorage, AK",3/1/2018,N622AS,61,10926,Alaska,10299,Alaska,1325,1951.0,386.0,...,2034.0,382.0,0,B,0,0.0,0.0,0.0,0.0,382.0
"Oklahoma City, OK","Aspen, CO",12/31/2018,N632SK,4462,13851,Oklahoma,10372,Colorado,1144,1810.0,386.0,...,NaN,NaN,0,NaN,1,0.0,0.0,0.0,0.0,0.0
"Mobile, AL","Houston, TX",3/1/2018,N14180,4186,13422,Alabama,12266,Texas,1200,1737.0,337.0,...,1913.0,333.0,0,C,0,0.0,0.0,333.0,0.0,0.0
"Oakland, CA","Minneapolis, MN",7/29/2018,N8716B,4225,13796,California,13487,Minnesota,1040,1600.0,320.0,...,2117.0,312.0,0,NaN,0,312.0,0.0,0.0,0.0,0.0
"Knoxville, TN","Punta Gorda, FL",3/2/2018,226NV,1651,15412,Tennessee,14082,Florida,1518,2034.0,316.0,...,2205.0,303.0,0,NaN,0,267.0,0.0,0.0,0.0,36.0
"Sault Ste. Marie, MI","Detroit, MI",3/1/2018,N8828D,7409,11013,Michigan,11433,Michigan,1535,2030.0,295.0,...,2156.0,298.0,0,A,0,0.0,0.0,5.0,0.0,293.0
"Des Moines, IA","Cedar Rapids/Iowa City, IA",1/1/2018,N12163,4457,11423,Iowa,11003,Iowa,619,1114.0,295.0,...,NaN,NaN,0,NaN,1,0.0,0.0,0.0,0.0,0.0
"Aspen, CO","Chicago, IL",3/1/2018,N713SK,3097,10372,Colorado,13930,Illinois,1050,1544.0,294.0,...,1908.0,267.0,0,B,0,0.0,0.0,0.0,0.0,267.0
"Atlanta, GA","Charlotte, NC",3/1/2018,N592NN,5255,10397,Georgia,11057,North Carolina,1759,2253.0,294.0,...,2352.0,268.0,0,A,0,4.0,0.0,0.0,0.0,264.0
"Roanoke, VA","St. Petersburg, FL",3/1/2018,227NV,813,14574,Virginia,14112,Florida,928,1413.0,285.0,...,1657.0,329.0,0,B,0,285.0,0.0,44.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Baltimore, MD","Tulsa, OK",7/2/2018,231NV,1278,10821,Maryland,15370,Oklahoma,1347,1328.0,-19.0,...,1457.0,-40.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Sacramento, CA","Kahului, HI",3/1/2018,N506AS,823,14893,California,13830,Hawaii,940,921.0,-19.0,...,1304.0,-31.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Charlotte Amalie, VI","Atlanta, GA",3/5/2018,N306DQ,307,15024,U.S. Virgin Islands,10397,Georgia,1500,1441.0,-19.0,...,1752.0,-25.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Salt Lake City, UT","Portland, OR",3/1/2018,N192SY,3430,14869,Utah,14057,Oregon,735,716.0,-19.0,...,831.0,-22.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Aspen, CO","Minneapolis, MN",3/3/2018,N765SK,3609,10372,Colorado,13487,Minnesota,1235,1216.0,-19.0,...,1521.0,-36.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Iron Mountain/Kingsfd, MI","Minneapolis, MN",3/1/2018,N917EV,4289,12335,Michigan,13487,Minnesota,1059,1040.0,-19.0,...,1148.0,-27.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Santa Ana, CA","Portland, OR",3/1/2018,N520AS,513,14908,California,14057,Oregon,2031,2012.0,-19.0,...,2240.0,-9.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Jamestown, ND","Denver, CO",3/1/2018,N920SW,5101,12519,North Dakota,11292,Colorado,635,615.0,-20.0,...,657.0,-36.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Bangor, ME","St. Petersburg, FL",3/2/2018,225NV,875,10581,Maine,14112,Florida,1024,1004.0,-20.0,...,1321.0,-46.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Devils Lake, ND","Jamestown, ND",3/1/2018,N920SW,5101,11447,North Dakota,12519,North Dakota,505,445.0,-20.0,...,537.0,-28.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Punta Gorda, FL","Syracuse, NY",11/18/2018,248NV,1550,14082,Florida,15096,New York,1539,1519.0,-20.0,...,1833.0,4.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Quincy, IL","Cape Girardeau, MO",3/1/2018,N970SW,5076,15454,Illinois,10967,Missouri,2150,2130.0,-20.0,...,2226.0,-22.0,0,C,0,0.0,0.0,0.0,0.0,0.0
"Portland, OR","Los Angeles, CA",3/11/2018,N363VA,1822,14057,Oregon,12892,California,702,642.0,-20.0,...,913.0,-27.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Juneau, AK","Yakutat, AK",3/1/2018,N622AS,61,12523,Alaska,15991,Alaska,1000,940.0,-20.0,...,1027.0,-31.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Aspen, CO","Dallas/Fort Worth, TX",3/1/2018,N706SK,2954,10372,Colorado,11298,Texas,1636,1615.0,-21.0,...,1938.0,-16.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Charleston, SC","Houston, TX",3/1/2018,N16149,4242,10994,South Carolina,12266,Texas,1603,1542.0,-21.0,...,1739.0,-27.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Hayden, CO","Washington, DC",3/31/2018,N493UA,1485,12094,Colorado,12264,Virginia,1225,1204.0,-21.0,...,1727.0,-78.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Ashland, WV","Punta Gorda, FL",7/1/2018,258NV,1679,12223,West Virginia,14082,Florida,1514,1453.0,-21.0,...,1746.0,35.0,0,NaN,0,0.0,0.0,35.0,0.0,0.0
"Ketchikan, AK","Seattle, WA",3/1/2018,N551AS,60,12819,Alaska,14747,Washington,1000,938.0,-22.0,...,1228.0,-20.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Sitka, AK","Anchorage, AK",2/4/2018,N609AS,73,14828,Alaska,10299,Alaska,734,712.0,-22.0,...,903.0,-16.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Wrangell, AK","Ketchikan, AK",3/1/2018,N619AS,64,15841,Alaska,12819,Alaska,1623,1601.0,-22.0,...,1631.0,-23.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Muskegon, MI","Chicago, IL",3/1/2018,N925SW,5067,13344,Michigan,13930,Illinois,1016,953.0,-23.0,...,954.0,-26.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Cordova, AK","Yakutat, AK",3/1/2018,N613AS,66,10926,Alaska,15991,Alaska,1654,1630.0,-24.0,...,1722.0,-17.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Punta Gorda, FL","Ashland, WV",7/1/2018,258NV,1678,14082,Florida,12223,West Virginia,1224,1200.0,-24.0,...,1357.0,-32.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
"Kodiak, AK","Anchorage, AK",3/1/2018,N612AS,40,10170,Alaska,10299,Alaska,1702,1637.0,-25.0,...,1731.0,-21.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Nome, AK","Anchorage, AK",3/1/2018,N612AS,152,13873,Alaska,10299,Alaska,1252,1227.0,-25.0,...,1350.0,-27.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Ketchikan, AK","Sitka, AK",3/1/2018,N552AS,67,12819,Alaska,14828,Alaska,1730,1704.0,-26.0,...,1800.0,-24.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Devils Lake, ND","Denver, CO",3/1/2018,N967SW,5102,11447,North Dakota,11292,Colorado,1440,1413.0,-27.0,...,1508.0,-39.0,0,B,0,0.0,0.0,0.0,0.0,0.0
"Yakutat, AK","Juneau, AK",3/1/2018,N613AS,66,15991,Alaska,12523,Alaska,1832,1800.0,-32.0,...,1850.0,-27.0,0,A,0,0.0,0.0,0.0,0.0,0.0
"Indianapolis, IN","Sanford, FL",3/1/2018,307NV,1858,12339,Indiana,14761,Florida,1500,1427.0,-33.0,...,1709.0,0.0,0,B,0,0.0,0.0,0.0,0.0,0.0

new code for predictions

X = day of week, airport id, carrier, dept_time, origin, 

y = delay in mins

dropdown for html

In [12]:
#reshaping


X = df1[["OP_CARRIER_FL_NUM","AIRPORT_ID", "CARRIER_DELAY", "WEATHER_DELAY", "NAS_DELAY", "SECURITY_DELAY", "LATE_AIRCRAFT_DELAY"]]
y = df1[["DEP_DELAY"]].values.reshape(-1, 1)
print(X.shape, y.shape)

(7213446, 7) (7213446, 1)

In [15]:
# Split the data into training and testing

### BEGIN SOLUTION
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [14]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data

### BEGIN SOLUTION
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)
### END SOLUTION

# Transform (equally ranging, so values dont outweight each other/normalizing) the training and testing data using the X_scaler and y_scaler models

### BEGIN SOLUTION
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

X_train_scaled

C:\Users\Loba\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Loba\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  del sys.path[0]
C:\Users\Loba\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

array([[ 0.22065413,  0.360912  , -0.13671944, ..., -0.17749369,
        -0.01239336, -0.20296929],
       [ 0.57977265,  0.84278976, -0.13671944, ..., -0.17749369,
        -0.01239336, -0.20296929],
       [-0.11642268, -1.46587867, -0.13671944, ..., -0.17749369,
        -0.01239336, -0.20296929],
       ...,
       [-0.75025612, -0.88986359, -0.13671944, ..., -0.17749369,
        -0.01239336, -0.20296929],
       [-1.19324064, -0.62720072, -0.13671944, ..., -0.17749369,
        -0.01239336, -0.20296929],
       [-0.37554712,  1.23382171, -0.13671944, ..., -0.17749369,
        -0.01239336, -0.20296929]])

In [16]:
X_test[0:10]

,OP_CARRIER_FL_NUM,AIRPORT_ID,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
3847197,5431,11057,0.0,0.0,0.0,0.0,0.0
5562257,4624,12889,0.0,0.0,0.0,0.0,0.0
3008267,581,11618,0.0,0.0,0.0,0.0,0.0
4927430,2056,11057,0.0,0.0,0.0,0.0,0.0
5846424,763,11042,0.0,0.0,0.0,0.0,0.0
1955068,4080,12266,0.0,0.0,0.0,0.0,0.0
761662,6176,10693,0.0,0.0,0.0,0.0,0.0
2021536,5850,14689,0.0,0.0,0.0,0.0,0.0
1647445,244,11433,0.0,0.0,0.0,0.0,0.0
6206784,3133,14107,0.0,0.0,0.0,0.0,0.0

In [17]:
# Create a LinearRegression model and fit it to  training data

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
### END SOLUTION

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [18]:
abb_X = X_test[0:10]
predictions = model.predict(abb_X)


predictions

array([[-2.31316051],
       [-2.38735512],
       [-1.49011714],
       [-1.69301558],
       [-1.45360956],
       [-2.2117398 ],
       [-2.40584758],
       [-2.83122058],
       [-1.40572811],
       [-2.26130284]])

In [21]:
X_test[0:10]

,OP_CARRIER_FL_NUM,AIRPORT_ID,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
3847197,5431,11057,0.0,0.0,0.0,0.0,0.0
5562257,4624,12889,0.0,0.0,0.0,0.0,0.0
3008267,581,11618,0.0,0.0,0.0,0.0,0.0
4927430,2056,11057,0.0,0.0,0.0,0.0,0.0
5846424,763,11042,0.0,0.0,0.0,0.0,0.0
1955068,4080,12266,0.0,0.0,0.0,0.0,0.0
761662,6176,10693,0.0,0.0,0.0,0.0,0.0
2021536,5850,14689,0.0,0.0,0.0,0.0,0.0
1647445,244,11433,0.0,0.0,0.0,0.0,0.0
6206784,3133,14107,0.0,0.0,0.0,0.0,0.0

In [46]:
# PREDICT DEP_DELAY in minutes
predictions.append

X_test =

[[-0.27238492]
 [-0.27405073]
 [-0.25390605]
 ...
 [-0.00064374]
 [-0.25788411]
 [-0.25413107]]

In [52]:
# predictions.to_DataFrame("predictions.df")


# predictions_df = pd.DataFrame(regr.predict(diabetes_X_test
                                           
                                           
pred1 = pd.DataFrame(predictions)

pred1.to_csv("predictions.csv")

In [44]:
reg.coef_

NameError: name 'reg' is not defined

In [ ]:
reg.intercept_

In [ ]:
reg.predict([[3900, 6, 10]])

In [ ]:
from sklearn.datasets import make_regression

n_features = 3
X, y = make_regression(n_samples=30, n_features=n_features, 
                       n_informative=n_features, random_state=42, 
                       noise=0.5, bias=100.0)

one hot encoding

In [13]:
X = df5[["area", "bedrooms", "town"]]
y = df5["price"].values.reshape(-1, 1)
print(X.shape, y.shape)

(30, 3) (30, 1)

In [1]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
dfle = df5
dfle.town = le.fit_transform(dfle.y)

dfle

NameError: name 'df5' is not defined

In [ ]:
# Step 0: Reformat data
# data = df5.values
# X = data[:, 0:4]
# # # y = data[:, 4]





dfl = dfle.round(0).astype(int)
dfl

In [ ]:
from sklearn.preprocessing import OneHotEncoder
 
ohe = OneHotEncoder(categorical_features = [4])
# le = LabelEncoder()
# dfle = df5
# le.fit_transform(dfle.x)

ohe

In [ ]:
X = ohe.fit_transform(X).toarray()

In [ ]:
from keras.utils import to_categorical

# Step 2: One-hot encoding
one_hot_y = to_categorical(encoded_y)
one_hot_y

In [ ]:
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)