In [21]:
import pandas as pd

In [ ]:
sept = pd.read_csv("raw_data/Sep-2018.csv")

sept

In [ ]:
sept_d = sept.dropna()

In [22]:
jan = pd.read_csv("raw_data/Jan-2018.csv")

jan.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,...,ORIGIN_WAC,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_WAC
0,2018,1,1,27,6,1/27/2018,UA,19977,UA,N26232,...,33,12266,1226603,31453,IAH,"Houston, TX",TX,48,Texas,74
1,2018,1,1,27,6,1/27/2018,UA,19977,UA,N477UA,...,93,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
2,2018,1,1,27,6,1/27/2018,UA,19977,UA,N13720,...,38,12266,1226603,31453,IAH,"Houston, TX",TX,48,Texas,74
3,2018,1,1,27,6,1/27/2018,UA,19977,UA,N16217,...,91,13930,1393006,30977,ORD,"Chicago, IL",IL,17,Illinois,41
4,2018,1,1,27,6,1/27/2018,UA,19977,UA,N33714,...,33,11618,1161802,31703,EWR,"Newark, NJ",NJ,34,New Jersey,21

In [29]:
jan_df = jan.groupby('OP_UNIQUE_CARRIER') 

jan_df.first()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,...,ORIGIN_WAC,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_WAC
OP_UNIQUE_CARRIER,,,,,,,,,,,,,,,,,,,,,
9E,2018,1,1,16,2,1/16/2018,20363,9E,N295PQ,3615,...,61,10397,1039707,30397,ATL,"Atlanta, GA",GA,13,Georgia,34
AA,2018,1,1,16,2,1/16/2018,19805,AA,N167US,418,...,36,13930,1393006,30977,ORD,"Chicago, IL",IL,17,Illinois,41
AS,2018,1,1,1,1,1/1/2018,19930,AS,N526AS,1,...,38,14747,1474703,30559,SEA,"Seattle, WA",WA,53,Washington,93
B6,2018,1,1,1,1,1/1/2018,20409,B6,N954JB,1,...,22,11697,1169706,32467,FLL,"Fort Lauderdale, FL",FL,12,Florida,33
DL,2018,1,1,4,4,1/4/2018,19790,DL,N941DL,1999,...,33,11193,1119302,33105,CVG,"Cincinnati, OH",KY,21,Kentucky,52
EV,2018,1,1,1,1,1/1/2018,20366,EV,N617QX,2815,...,72,11298,1129806,30194,DFW,"Dallas/Fort Worth, TX",TX,48,Texas,74
F9,2018,1,1,1,1,1/1/2018,20436,F9,N720FR,1658,...,33,14843,1484306,34819,SJU,"San Juan, PR",PR,72,Puerto Rico,3
G4,2018,1,1,1,1,1/1/2018,20368,G4,215NV,1704,...,33,13244,1324402,33244,MEM,"Memphis, TN",TN,47,Tennessee,54
HA,2018,1,1,1,1,1/1/2018,19690,HA,N373HA,1,...,91,12173,1217305,32134,HNL,"Honolulu, HI",HI,15,Hawaii,2
MQ,2018,1,1,27,6,1/27/2018,20398,MQ,N528EG,3479,...,41,14524,1452401,34524,RIC,"Richmond, VA",VA,51,Virginia,38
NK,2018,1,1,13,6,1/13/2018,20416,NK,N516NK,549,...,11,13204,1320402,31454,MCO,"Orlando, FL",FL,12,Florida,33
OH,2018,1,1,15,1,1/15/2018,20397,OH,N516AE,5445,...,36,14574,1457405,34574,ROA,"Roanoke, VA",VA,51,Virginia,38
OO,2018,1,1,1,1,1/1/2018,20304,OO,N862AS,2930,...,42,13930,1393006,30977,ORD,"Chicago, IL",IL,17,Illinois,41
UA,2018,1,1,27,6,1/27/2018,19977,UA,N26232,369,...,33,12266,1226603,31453,IAH,"Houston, TX",TX,48,Texas,74
VX,2018,1,1,1,1,1/1/2018,21171,VX,N625VA,1001,...,91,11278,1127805,30852,DCA,"Washington, DC",VA,51,Virginia,38
WN,2018,1,1,1,1,1/1/2018,19393,WN,N227WN,1491,...,86,10821,1082106,30852,BWI,"Baltimore, MD",MD,24,Maryland,35
YV,2018,1,1,12,5,1/12/2018,20378,YV,N84307,6011,...,74,12266,1226603,31453,IAH,"Houston, TX",TX,48,Texas,74
YX,2018,1,1,1,1,1/1/2018,20452,YX,N107HQ,4386,...,23,14321,1432105,34321,PWM,"Portland, ME",ME,23,Maine,12

In [28]:
# applying groupby() function to

ban_df = jan.groupby('FL_DATE') 

ban_df.first()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,...,ORIGIN_WAC,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_WAC
FL_DATE,,,,,,,,,,,,,,,,,,,,,
1/1/2018,2018,1,1,1,1,UA,19977,UA,N434UA,2429,...,21,11292,1129202,30325,DEN,"Denver, CO",CO,8,Colorado,82
1/10/2018,2018,1,1,10,3,UA,19977,UA,N485UA,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/11/2018,2018,1,1,11,4,UA,19977,UA,N47414,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/12/2018,2018,1,1,12,5,UA,19977,UA,N12109,1685,...,2,11292,1129202,30325,DEN,"Denver, CO",CO,8,Colorado,82
1/13/2018,2018,1,1,13,6,UA,19977,UA,N38443,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/14/2018,2018,1,1,14,7,UA,19977,UA,N68453,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/15/2018,2018,1,1,15,1,UA,19977,UA,N27239,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/16/2018,2018,1,1,16,2,UA,19977,UA,N75425,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/17/2018,2018,1,1,17,3,UA,19977,UA,N38451,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/18/2018,2018,1,1,18,4,UA,19977,UA,N27477,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/19/2018,2018,1,1,19,5,UA,19977,UA,N37427,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/2/2018,2018,1,1,2,2,UA,19977,UA,N38451,2429,...,21,11292,1129202,30325,DEN,"Denver, CO",CO,8,Colorado,82
1/20/2018,2018,1,1,20,6,UA,19977,UA,N37462,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/21/2018,2018,1,1,21,7,UA,19977,UA,N28457,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/22/2018,2018,1,1,22,1,UA,19977,UA,N37462,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/23/2018,2018,1,1,23,2,UA,19977,UA,N62896,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/24/2018,2018,1,1,24,3,UA,19977,UA,N411UA,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/25/2018,2018,1,1,25,4,UA,19977,UA,N39463,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/26/2018,2018,1,1,26,5,UA,19977,UA,N463UA,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/27/2018,2018,1,1,27,6,UA,19977,UA,N26232,369,...,33,12266,1226603,31453,IAH,"Houston, TX",TX,48,Texas,74
1/28/2018,2018,1,1,28,7,UA,19977,UA,N39423,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/29/2018,2018,1,1,29,1,UA,19977,UA,N37437,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/3/2018,2018,1,1,3,3,UA,19977,UA,N66825,2429,...,21,11292,1129202,30325,DEN,"Denver, CO",CO,8,Colorado,82
1/30/2018,2018,1,1,30,2,UA,19977,UA,N62896,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/31/2018,2018,1,1,31,3,UA,19977,UA,N37465,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91
1/4/2018,2018,1,1,4,4,UA,19977,UA,N86534,2429,...,21,11292,1129202,30325,DEN,"Denver, CO",CO,8,Colorado,82
1/5/2018,2018,1,1,5,5,UA,19977,UA,N816UA,2429,...,21,11292,1129202,30325,DEN,"Denver, CO",CO,8,Colorado,82
1/6/2018,2018,1,1,6,6,UA,19977,UA,N806UA,2429,...,21,11292,1129202,30325,DEN,"Denver, CO",CO,8,Colorado,82
1/7/2018,2018,1,1,7,7,UA,19977,UA,N19130,2429,...,21,11292,1129202,30325,DEN,"Denver, CO",CO,8,Colorado,82
1/8/2018,2018,1,1,8,1,UA,19977,UA,N13750,291,...,21,12441,1244102,32441,JAC,"Jackson, WY",WY,56,Wyoming,88
1/9/2018,2018,1,1,9,2,UA,19977,UA,N39475,2427,...,85,14771,1477104,32457,SFO,"San Francisco, CA",CA,6,California,91

In [20]:
jan_df2 = jan.groupby("OP_UNIQUE_CARRIER")['ORIGIN_CITY_NAME'].unique()
jan_df2.head()

OP_UNIQUE_CARRIER
9E    [Cedar Rapids/Iowa City, IA, Grand Forks, ND, ...
AA    [Charlotte, NC, Washington, DC, Dallas/Fort Wo...
AS    [Washington, DC, Seattle, WA, Los Angeles, CA,...
B6    [New York, NY, San Juan, PR, Newark, NJ, Fort ...
DL    [Orlando, FL, New York, NY, Atlanta, GA, Dalla...
Name: ORIGIN_CITY_NAME, dtype: object

In [ ]:
feb = pd.read_csv("raw_data/Feb-2018.csv")

feb.head()
                  
# feb(["ORIGIN_CITY_NAME"]).unique()

In [ ]:
mar = pd.read_csv("raw_data/Mar-2018.csv")

mar.head()

In [11]:
apr = pd.read_csv("raw_data/Apr-2018.csv")

In [12]:
may= pd.read_csv("raw_data/May-2018.csv")

In [13]:
jun = pd.read_csv("raw_data/Jun-2018.csv")

In [14]:
jul = pd.read_csv("raw_data/Jul-2018.csv")

In [15]:
aug = pd.read_csv("raw_data/Aug-2018.csv")

In [16]:
sept.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,...,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2018,9,12,3,9/12/2018,N8708Q,4494,11292,DEN,"Denver, CO",...,0,NaN,0,140,140.0,NaN,NaN,NaN,NaN,NaN
1,2018,9,12,3,9/12/2018,N441WN,5138,11292,DEN,"Denver, CO",...,0,NaN,0,155,157.0,NaN,NaN,NaN,NaN,NaN
2,2018,9,12,3,9/12/2018,N446WN,5662,11292,DEN,"Denver, CO",...,0,NaN,0,150,132.0,NaN,NaN,NaN,NaN,NaN
3,2018,9,12,3,9/12/2018,N8683D,6351,11292,DEN,"Denver, CO",...,0,NaN,0,200,187.0,NaN,NaN,NaN,NaN,NaN
4,2018,9,12,3,9/12/2018,N725SW,6525,11292,DEN,"Denver, CO",...,0,NaN,0,200,186.0,NaN,NaN,NaN,NaN,NaN

In [17]:
octo = pd.read_csv("raw_data/Oct-2018.csv")

In [18]:
nov = pd.read_csv("raw_data/Nov-2018.csv")

In [19]:
dec = pd.read_csv("raw_data/Dec-2018.csv")