In [1]:
import pandas as pd

In [22]:
sept = pd.read_csv("raw_data/Sep-2018.csv")

In [23]:
sept_df = sept.dropna()

sept_df.head()

Empty DataFrame
Columns: [YEAR, MONTH, DAY_OF_MONTH, DAY_OF_WEEK, FL_DATE, TAIL_NUM, OP_CARRIER_FL_NUM, ORIGIN_AIRPORT_ID, ORIGIN, ORIGIN_CITY_NAME, ORIGIN_STATE_NM, DEST_AIRPORT_ID, DEST_CITY_NAME, DEST_STATE_NM, CRS_DEP_TIME, DEP_TIME, DEP_DELAY, DEP_DELAY_NEW, DEP_DEL15, DEP_DELAY_GROUP, WHEELS_ON, CRS_ARR_TIME, ARR_TIME, ARR_DELAY, ARR_DELAY_NEW, ARR_DEL15, ARR_DELAY_GROUP, CANCELLED, CANCELLATION_CODE, DIVERTED, CRS_ELAPSED_TIME, ACTUAL_ELAPSED_TIME, CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY]
Index: []

[0 rows x 37 columns]

In [6]:
jan = pd.read_csv("raw_data/Jan-2018.csv")

In [7]:
feb = pd.read_csv("raw_data/Feb-2018.csv")

In [8]:
mar = pd.read_csv("raw_data/Mar-2018.csv")

In [9]:
apr = pd.read_csv("raw_data/Apr-2018.csv")

C:\Users\Loba\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
may= pd.read_csv("raw_data/May-2018.csv")

In [11]:
jun = pd.read_csv("raw_data/Jun-2018.csv")

In [13]:
jul = pd.read_csv("raw_data/Jul-2018.csv")

In [14]:
aug = pd.read_csv("raw_data/Aug-2018.csv")

In [24]:
sept.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,...,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2018,9,12,3,9/12/2018,N8708Q,4494,11292,DEN,"Denver, CO",...,0,NaN,0,140,140.0,NaN,NaN,NaN,NaN,NaN
1,2018,9,12,3,9/12/2018,N441WN,5138,11292,DEN,"Denver, CO",...,0,NaN,0,155,157.0,NaN,NaN,NaN,NaN,NaN
2,2018,9,12,3,9/12/2018,N446WN,5662,11292,DEN,"Denver, CO",...,0,NaN,0,150,132.0,NaN,NaN,NaN,NaN,NaN
3,2018,9,12,3,9/12/2018,N8683D,6351,11292,DEN,"Denver, CO",...,0,NaN,0,200,187.0,NaN,NaN,NaN,NaN,NaN
4,2018,9,12,3,9/12/2018,N725SW,6525,11292,DEN,"Denver, CO",...,0,NaN,0,200,186.0,NaN,NaN,NaN,NaN,NaN

In [15]:
octo = pd.read_csv("raw_data/Oct-2018.csv")

In [16]:
nov = pd.read_csv("raw_data/Nov-2018.csv")

In [17]:
dec = pd.read_csv("raw_data/Dec-2018.csv")